/*
 *  user/cart.css
 *  @author: WANG Minghao
*/
form [type=file], [type=checkbox], [type=radio] {
    margin: 0;
}
.total-title {
    width: 5rem;
}
.total-amount {
    width: 5rem;
    display: inline-block;
}
#global-step {
    position: relative;
    z-index: 1;
    font-size: 14px;
    color: #333;
    line-height: 35px;
    border: 1px solid #eee;
    background-color: #eee;
    margin-top: 25px;
    height: 35px;
    overflow: hidden;
}
#global-step .step1 {
     left: 0;
     z-index: 9;
}
#global-step .current {
    color: #fff;
    background-color: #d79b84;
}
#global-step div {
    position: inherit;
    top: 0;
    font-weight: normal;
    text-align: center;
}
#global-step .current .icotips {
    border-left: 18px solid #d79b84;
}
#global-step .icotips, #global-step .icotips-blank, #global-step .icotips-blank2 {
    position: absolute;
    right: -36px;
    top: -1px;
    z-index: 2;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
    border: 18px dashed transparent;
    border-left: 18px solid #eee;
    overflow: hidden;
}
#global-step .icotips-blank {
    z-index: 1;
    border-left: 18px solid #fff;
}
#global-step .icotips-blank2 {
    z-index: 1;
    border-left: 18px solid #fff;
}
#global-step .step2 {
    z-index: 8;
}
#global-step .step3 {
    z-index: 7;
}
#global-step .step4 {
    z-index: 6;
}
#global-step .icotips {
    right: -33px;
}
.count-adjust {
    height: 1.3rem;
    line-height: 1.8rem;
    vertical-align: middle;
}
.count-adjust i {
    background: lightgray;
    padding: 0.35rem 0.35rem;
    cursor: pointer;
}
#body .count-selector .columns {
    padding: 0;
}
.count-minus {
    text-align: right;
}
.count-plus {
    text-align: left;
}
.count-wrapper input {
    height: 1.8rem;
    margin-bottom: 0;
}
#total-count,
#total-price,
#total-discount {
    color:#ff5500;
    font-weight:bold;
}
.cart-tbody tr {
    border-bottom: #d79b84 solid 1px;
}
.cart-tbody tr:nth-child(even) {
    background-color: inherit;
}
.cart-thead {
    border-top: #d79b84 solid 3px;
}
.gwc_tb3{ width:100%; border:1px solid #d2d2d2; background:#e7e7e7; height:46px; margin-top:20px; }
.gwc_tb3 tr td{font-size:14px;}
.tb3_td2{ text-align:center;}
.tb3_td2 span{ color:#ff5500;font-size:14px; font-weight:bold; padding-left:5px; padding-right:5px; }
.tb3_td3{ text-align:center;}
.tb3_td3 span{ font-size:18px; font-weight:bold;}
.tb3_td4{ width:110px;text-align:center;}
.jz2 {
    transition: all 0.5s ease;
    width:110px;
    height:46px;
    line-height:46px;
    text-align:center;
    font-size:18px;
    color:#fff;
    background: #e2a38b;
    display:block;
    float:right;
}
.jz2:hover {
    background: #b1806d;
    color: #fff;
}
#body .accordion-title {
    color: #6e5847;
    border-top: 2px solid #af8e72;
    font-size: 1rem;
}
#body .link-1 a.demo {
    color: #6e5847;
}
#body .link-1 a.demo:hover {
    border-bottom: solid 1px #af8e72;
}
#body .checkbox-goods-wrapper {
    line-height: 3rem;
}
#body .discount-code-btn {
    background: #d79b84;
}
#body .discount-code-btn:hover {
    background: #af7e6b;
}
#discount-code,
.discount-code-btn {
    height: 46px;
}
#body .help-text {
    color: #d79b84;
}
.guess-you-like {
    border: #eee solid 1px;
    border-bottom: #d79b84 solid 1px;
    border-top: #d79b84 solid 3px;
}
.list-title-text {
    position: relative;
    font-weight: 900;
    margin: 3rem 0 1rem;
}
@media only screen and (min-width: 40.063em) {
    #cart-page-content {
        width: 95%;
        margin: auto;
    }
    img.payment-method {
        height: 2rem;
        margin-right: .1rem;
    }
    img.ali-method {
        margin-left: .1rem;
        margin-right: .3rem;
    }
    .payment-method-wrapper {
        padding: .6rem 1rem;
        background: #f3f3f3;
        border: 1px solid #f3f3f3;
    }
    .payment-method-wrapper.selected {
        border: 1px solid #d79b84;
    }
    .list-title {
        font-size: 1.3rem;
        text-align: left;
        margin-top: 1rem;
        /*background: url(/images/logo/background-pattern.png) repeat;*/
    }
}
@media only screen and (max-width: 40em) {

}