input[type=search] {
    height: 1.5rem;
    font-size: 0.8rem;
}
#body {
    background-color: white;
}
@media only screen and (min-width: 40.063em) {
    .page-content {
        width: 90%;
        max-width: 1500px;
        min-height: 300px;
        text-align: center;
        margin: auto;
    }
}
@media only screen and (max-width: 40em) {
    .page-content {
        width: 100%;
        max-width: 1200px;
        min-height: 300px;
        text-align: center;
        margin: auto;
    }
}
.page-info {
    display: none;
}
.row .row {
    margin-left: auto !important;
    margin-right: auto !important;
}
.all-list tr th,
.all-list tr td {
    text-align: center !important;
}
input.labelauty + label {
    display: inline !important;
}