#body, #body h1, #body h2, #body h3, #body h4 {
    font-family: Arial, "STXihei", "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 40.063em) {
    .page-content {
        width: 90%;
        max-width: 1500px;
        min-height: 300px;
        margin: auto;
    }
}
@media only screen and (max-width: 40em) {
    .page-content {
        width: 100%;
        max-width: 1200px;
        min-height: 300px;
        text-align: center;
        margin: auto;
    }
}
.page-info {
    display: none;
}
.row .row {
    margin-left: auto !important;
    margin-right: auto !important;
}
.all-list tr th,
.all-list tr td {
    text-align: center !important;
}
input.labelauty + label {
    display: inline !important;
}
.option-button-wrapper .button.option {
    color: #A7866A;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, #fcdeb4, #97816e);
    border-image-slice: 1;
    background: linear-gradient(135deg, #fcdeb4, #97816e);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    transition: all 0.5s ease;
    padding: 0.55rem 1.25rem;
    margin-bottom: 0.8rem;
    font-size: 0.85rem;
    font-weight: 600;
}
.option-button-wrapper .button.option:hover,
.option-button-wrapper .button.option.active,
.option-button-wrapper .button.option:focus {
    color: #4b3e35;
}
.seo-content {
    display: none;
}
#body.is-reveal-open {
    overflow: inherit;
}
#successModal,
#failModal {
    text-align: center;
    z-index: 2000;
}
.bdsharebuttonbox,
.bdsharebuttonbox a {
    color: #856f5e;
}
.bdsharebuttonbox,
.bdsharebuttonbox a:hover {
    color: #856f5e;
}
#body #bdshare_weixin_qrcode_dialog {
    height:295px !important;
}
#body .button.brandColor {
    background: #A7866A;
}
#body .tabs {
    border-top: solid 2px #af8e72;
}
#contact-tabs {
    border-bottom: none;
}
#contact-tabs a {
    color: #af8e72;
    font-size: .9rem;
}
.page-content hr {
    border-bottom: 1px solid #af8e72;
}
#body .button.hollow.brandColor {
    border: 1px solid #A7866A;
    color: #5c4a3e;
    background: none;
    margin: 0;
    padding: .5rem;
}
#body .button.hollow.brandColor:hover {
    border: 1px solid #493729;
    color: #2e241e;
}