/*
 *  user/footer.css
 *  @author: WANG Minghao
*/
.top-footer {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    background: url("http://image-cdn.zaitaoyuan.com/images/slider/slider9.jpg@!list-banner-s") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    padding-top: 1.5rem;
}
.learn-links {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 40px;
}
.learn-links ul li {
    font-size: 13px;
}
.learn-links p {
    margin-left: 3rem;
    font-size: 13px;
    font-weight: lighter;
}
.bottom-footer {
    width: 100%;
    background: url("http://static.lanzhujue.com/image/user/footer-bg.png") #080808;
    height: 200px;
    text-align: center;
    position: relative;
    padding: 25px 20px 0 20px;
    overflow: hidden;
}
.bottom-footer blockquote cite {
    color: #f4f4f4;
}
.bottom-footer blockquote {
    font-size: 1.5rem;
    color: #f4f4f4;
}
.features {
    text-align: center;
    width: 70%;
    color: white;
    margin-bottom: 2rem;
}
.features hr {
    width: 25%;
    margin: 1rem auto;
}
.features  h3 {
    color: white;
}
.features .round-icon {
    background-color: #A7866A;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 2rem auto 1rem;
    width: 100px;
    font-size: 3rem; }
.features .round-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
@media only screen and (max-width: 40em) {
    .features .columns {
        margin-bottom: 5rem; } }
