/*
 *  user/header.css
 *  @author: WANG Minghao
*/
header {
    background: url("/images/banner.png") #074e68;
    background-size: cover;
    padding: 22px 0;
}
.logo-wrapper img {
    height: 120px;
}
.top-bar#top-bar {
    background-color: white;
    padding: .2rem;
}
.top-bar#top-bar ul {
    background-color: white;
}
.top-bar#top-bar ul .menu-text {
    font-family:STXingkai,"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    font-size: 1.2rem;
    padding: .2rem 1rem;
    font-weight: 400;
    color: #A7866A;
}
.top-bar#top-bar ul li a {
    padding: .2rem 1rem;
    font-size: small;
    color: #A7866A;
}
.top-bar-right .dropdown.menu .has-submenu.is-down-arrow>a::after {
    display: none;
}
.bottom-line {
    height: 3px;
    background-color: #A7866A;
    z-index: 100;
}