#topic-page-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
@media only screen and (min-width: 40.063em) {
    #look-detail-page-content {
        width: 90%;
        max-width: 1800px;
    }
    .detail-description {
        background-color: white;
        padding: 1rem;
    }
    .detail-description .tabs,
    .tabs-content {
        border-top: solid 2px #A7866A;
        border-bottom: solid 2px #A7866A;
    }
    .item-slider div .lSPager .active {
        border: solid 2px #A7866A;
    }
    .detail-description .tabs {
        border-bottom: none;
    }
}
@media only screen and (max-width: 40em) {
    #look-detail-page-content .row .columns {
        padding: 0;
    }
    #look-detail-page-content {
        width: 99%;
    }
    .detail-description {
        background-color: white;
        padding: 0.3rem;
    }
    .detail-description .tabs, .tabs-content {
        border-top: 1px solid #A7866A;
    }
}
.detail-description img {
    padding: 0;
    width: 100%;
}
.detail-description ul li a {
    font-size: 14px;
    font-weight: 600;
}
.price-wrapper {
}
.rmb-sign {
    font-size: 1rem;
}
.item-description {
    color: #666;
}
.price-wrapper .price-before {
    text-decoration: line-through;
    letter-spacing: -2px;
    color: #666;
    font-size: 1.4rem;
}
.price-wrapper .price-after {
    letter-spacing: -1px;
    color: #ec372f;
    font-weight: 900;
    font-size: 1.5rem;
}
.user-review-star {
    color: #A7866A;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: -3px;
    line-height: 2.3rem;
    vertical-align: middle;
}
.user-review-cnt {
    color: #ec372f;
    font-size: 1rem;
    line-height: 2.3rem;
    vertical-align: middle;
    margin: 0 -5px;
}
.look-detail-slider {
    left: 0 !important;
}
.thumbnail-wrapper {
    margin: 10px;
}
.thumbnail-wrapper img {
    padding: 3px;
}
.look-detail-slider li img {
    text-align: center;
    margin: auto;
}
#detail-jiathis .jiathis_style .jiathis_counter.jiathis_bubble_style {
    width: 36px !important;
}
#detail-jiathis .jiathis_style a {
    display: inline-block !important;
    line-height: 1.2rem !important;
    float: none;
}
.detail-image-slider .banner-slider ul li:not(:first-child) {
    display: none;
}
.buy-button-wrapper .button {
    border: 2px solid #ec5840;
    letter-spacing: 2px;
    margin-right: 0;
}
.bdsharebuttonbox {
    margin-top: 0.5rem;
}
.bdsharebuttonbox .hollow.button {
    color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, white, #856f5e);
    border-image-slice: 1;
    background: linear-gradient(135deg, white, #856f5e);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    transition: all 0.5s ease;
    padding: 0.5rem;
    border-radius: 3px;
}
.button:hover {
    border-image: linear-gradient(45deg, #2ecc71, dodgerblue);
    background: linear-gradient(45deg, #2ecc71, dodgerblue);
}
#body .option-button-wrapper button.checked {
    background: #af8e72;
    color: white;
    border: 2px solid #af8e72;
}
.detail-image-wrapper {
    position: relative;
}
.detail-image-big {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1000px;
    max-width: none;
    max-height: none;
    z-index: 1;
}
.detail-image-cover {
    background: transparent;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#lightSlider-s {
    margin-bottom: 0;
}
.detail-tab {
    width: 33.33%;
}
#body .detail-tab>a:focus,
#body .detail-tab>a:hover,
#body .detail-tab>a[aria-selected=true] {
    background: rgba(175, 142, 114, 0.27);
}
#body .detail-tab>a {
    background: #f2f2f2;
    text-align: center;
}
#body .detail-tab.middle-tab>a {
    margin: 0 3px;
}
#body .detail-tab>a i {
    font-size: 2rem;
}
#body .detail-tab>a div {
    /*display: inline-block;*/
    line-height: 2rem;
    vertical-align: middle;
}
#body .detail-tab>a {
    padding: 1rem 1.5rem;
}
#product-info,
#notes,
#comments {
    margin-top: 1rem;
    color: #666;
}
#product-info p {
    line-height: 1.5rem;
    font-weight: 400;
    text-indent: 2rem;
}
.product-artical {
    margin-top: 1.5rem;
}
.detail-title {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
#notes ul,
#product-info ul,
#comments ul {
    list-style-position: inside;
    list-style-type: square;
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 400;
}
#notes .column,
#comments .column {
    margin-bottom: 1.5rem;
}
#lightSlider-s img {
    display: none;
}
#lightSlider-s .detail-image-wrapper .detail-image-h0 {
    display: block;
}
#lightSlider-s li {
    list-style: none;
}
.rating {
    margin: 10px 0;
}
.rating i {
    display: inline-block;
    width: 0;
    height: 1.5em;
    border-width: 0 0.75em;
    border-style: solid;
    border-color: #eee;
    border-radius: .22em;
    color: white;
    background: #eee;
    font-style: normal;
    line-height: 1.6em;
    text-indent: -0.5em;
    text-shadow: 1px 0 1px #b3b3b3;
}
/** Colors */
.rating-1 .star-1,
.rating-1-half .star-1 {
    border-color: #cc8b1f;
    background: #cc8b1f;
}
.rating-1-half .star-2 {
    border-left-color: #cc8b1f;
}
.rating-2 .star-1,
.rating-2-half .star-1 {
    border-color: #dcb228;
    background: #dcb228;
}
.rating-2 .star-2,
.rating-2-half .star-2 {
    border-color: #dcb228;
    background: #dcb228;
}
.rating-2-half .star-3 {
    border-left-color: #dcb228;
}
.rating-3 .star-1,
.rating-3-half .star-1 {
    border-color: #f0991e;
    background: #f0991e;
}
.rating-3 .star-2,
.rating-3-half .star-2 {
    border-color: #f0991e;
    background: #f0991e;
}
.rating-3 .star-3,
.rating-3-half .star-3 {
    border-color: #f0991e;
    background: #f0991e;
}
.rating-3-half .star-4 {
    border-left-color: #f0991e;
}
.rating-4 .star-1,
.rating-4-half .star-1 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4 .star-2,
.rating-4-half .star-2 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4 .star-3,
.rating-4-half .star-3 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4 .star-4,
.rating-4-half .star-4 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4-half .star-5 {
    border-left-color: #f26a2c;
}
.rating-5 .star-1,
.rating-5-half .star-1 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-2,
.rating-5-half .star-2 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-3,
.rating-5-half .star-3 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-4,
.rating-5-half .star-4 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-5,
.rating-5-half .star-5 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5-half .star-6 {
    border-left-color: #dd050b;
}
.item-detail-title {
    color: #333;
}
.item-detail-subtitle {
    color: #666;
}
.item-detail-brand {
    height: 3rem;
}
.item-detail-brand img {
    height: 3rem;
    width: auto;
}
#body .has-tip {
    font-weight: inherit;
    display: inline;
}
.review-img img {
    height: 7rem;
    width: 7rem;
    border: solid 1px #af8e72;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.user-review-info {
    text-align: center;
    font-size: 0.6rem;
}
#body .lSSlideWrapper {
    border-right: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-top: 4px solid #A7866A;
    border-bottom: 4px solid #A7866A;
    border-radius: 3px;
}
.item-head-prev {
    content: "\e094";
}
.item-head-next {
    content: "\e095";
}