#topic-page-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.lSSlideOuter .lSPager.lSGallery li {
    height: initial !important;
}
.detail-description img.heart-red {
    position: relative;
    top: -5.5rem;
    width: 3rem;
    margin: auto;
    display: none;
}
.detail-description img.heart-red.active {
    display: block;
    opacity: 0;
    animation-duration: 350ms;
    animation-iteration-count: 1;
    animation-name: heart-show;
    animation-timing-function: linear;
}
@keyframes heart-show {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    50% {
        transform: scale(3);
        opacity: 1;
    }
    100% {
        transform: scale(6);
        opacity: 0;
    }
}
@media only screen and (min-width: 40.063em) {
    #look-detail-page-content {
        width: 99%;
        max-width: 1800px;
    }
    .detail-description {
        background-color: white;
        padding: 1rem;
    }
    .detail-description .tabs,
    .tabs-content {
        border-top: solid 2px #d2917b;
        border-bottom: solid 2px #d2917b;
    }
    .item-slider div .lSPager .active img {
        border: solid 2px #d2917b;
        border-radius: 5px;
    }
    .detail-description .tabs {
        border-bottom: none;
    }
}
@media only screen and (max-width: 40em) {
    .item-detail-title {
        margin-top: 1rem;
        font-size: 1.4rem;
    }
    #look-detail-page-content .row .columns {
        padding: 0;
    }
    #look-detail-page-content {
        width: 99%;
    }
    .detail-description {
        background-color: white;
        padding: 0.3rem;
    }
    .detail-description .tabs, .tabs-content {
        border-top: 1px solid #d2917b;
    }
    .relate-sku-column {
        padding-left: .375rem;
        padding-right: .375rem;
        padding-top: .375rem;
    }
}
.detail-description img {
    padding: 0;
    width: 100%;
    border: solid 1px #ddd;
}
.detail-description ul li a {
    font-size: 14px;
    font-weight: 600;
}
.price-wrapper {
}
.rmb-sign {
    font-size: 1rem;
}
.item-description {
    color: #555;
}
.price-wrapper .price-before {
    text-decoration: line-through;
    letter-spacing: -2px;
    color: #999;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 600;
}
.price-wrapper .price-after {
    letter-spacing: -1px;
    color: #222;
    font-weight: 900;
    font-size: 1.5rem;
}
.option-button-wrapper {
    margin-top: 4rem;
}
.user-review-star {
    color: #A7866A;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: -3px;
    line-height: 2.3rem;
    vertical-align: middle;
}
.user-review-cnt {
    color: #ec372f;
    font-size: 1rem;
    line-height: 2.3rem;
    vertical-align: middle;
    margin: 0 -5px;
}
.look-detail-slider {
    left: 0 !important;
}
.thumbnail-wrapper {
    margin: 10px;
}
.thumbnail-wrapper img {
    padding: 3px;
}
.look-detail-slider li img {
    text-align: center;
    margin: auto;
}
#detail-jiathis .jiathis_style .jiathis_counter.jiathis_bubble_style {
    width: 36px !important;
}
#detail-jiathis .jiathis_style a {
    display: inline-block !important;
    line-height: 1.2rem !important;
    float: none;
}
.detail-image-slider .banner-slider ul li:not(:first-child) {
    display: none;
}
.buy-button-wrapper .button {
    border: 2px solid black;
    letter-spacing: 1px;
    width: 100%;
    font-size: .85rem;
}
.add-to-cart.button {
    background: #333;
    transition: all 0.5s ease;
}
.add-to-cart.button:hover {
    background: black;
}
.add-to-wish.button {
    background: transparent;
    border: none;
    color: #333;
    width: 100%;
    border-radius: .3rem;
}
.bdsharebuttonbox {
    margin-top: 0.5rem;
}
.bdsharebuttonbox .hollow.button {
    color: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(135deg, white, #d2917b);
    border-image-slice: 1;
    background: linear-gradient(135deg, white, #d2917b);
    -webkit-background-clip: text;
    text-fill-color: transparent;
    transition: all 0.5s ease;
    padding: 0.5rem;
    border-radius: 3px;
}
.button:hover {
    text-decoration: underline;
}
#body .option-button-wrapper button.checked {
    background: #d2917b;
    color: white;
    border: 2px solid #d2917b;
}
.detail-image-wrapper {
    position: relative;
}
.detail-image-big {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 1000px;
    max-width: none;
    max-height: none;
    z-index: 1;
}
.detail-image-cover {
    background: transparent;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#lightSlider-s {
    margin-bottom: 0;
}
.detail-tab {
    width: 33.33%;
}
#body .detail-tab>a:focus,
#body .detail-tab>a:hover,
#body .detail-tab>a[aria-selected=true] {
    background: rgba(175, 142, 114, 0.27);
}
#body .detail-tab>a {
    background: #f2f2f2;
    text-align: center;
}
#body .detail-tab.middle-tab>a {
    margin: 0 3px;
}
#body .detail-tab>a i {
    font-size: 2rem;
}
#body .detail-tab>a div {
    /*display: inline-block;*/
    line-height: 2rem;
    vertical-align: middle;
}
#body .detail-tab>a {
    padding: 1rem 1.5rem;
}
#product-info,
#notes,
#comments {
    margin-top: 1rem;
    color: #666;
}
#product-info p {
    line-height: 1.5rem;
    font-weight: 400;
    text-indent: 2rem;
}
.product-artical {
    margin-top: 1.5rem;
}
.detail-title {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
#notes ul,
#product-info ul,
#comments ul {
    list-style-position: inside;
    list-style-type: square;
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 400;
}
#notes .column,
#comments .column {
    margin-bottom: 1.5rem;
}
#lightSlider-s img {
    display: none;
}
#lightSlider-s .detail-image-wrapper .detail-image-h0 {
    display: block;
}
#lightSlider-s li {
    list-style: none;
}
.item-detail-title {
    color: #333;
    font-weight: 900;
}
.item-detail-brand {
    height: 3rem;
}
.item-detail-brand img {
    height: 3rem;
    width: auto;
}
#body .has-tip {
    font-weight: inherit;
    display: inline;
}
.review-img img {
    height: 7rem;
    width: 7rem;
    border: solid 1px #d2917b;
    border-radius: 3px;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.user-review-info {
    text-align: center;
    font-size: 0.6rem;
}
#body .lSSlideWrapper {
    border-right: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-top: 4px solid #d2917b;
    border-bottom: 4px solid #d2917b;
    border-radius: 3px;
}
.item-head-prev {
    content: "\e094";
}
.item-head-next {
    content: "\e095";
}
.customer-review-list a {
    color: #666;
}
img.u-flyer {
    width: 50px;
    height: 50px;
    border: solid 1px #af8e72;
}
.relate-sku {
    margin: 1rem;
    border-right: 2px solid #e6e6e6;
    border-left: 2px solid #e6e6e6;
    border-top: 4px solid #d2917b;
    border-bottom: 4px solid #d2917b;
}
.detail-gif-image {
    width: 100%;
}