#topic-page-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
@media only screen and (min-width: 40.063em) {
    #look-detail-page-content {
        width: 90%;
        max-width: 1200px;
    }
    .detail-description {
        background-color: white;
        padding: 2rem;
    }
}
@media only screen and (max-width: 40em) {
    #look-detail-page-content .row .columns {
        padding: 0;
    }
    #look-detail-page-content {
        width: 99%;
    }
    .detail-description {
        background-color: white;
        padding: 1.3rem;
    }
}
.price-wrapper .price-before {
    text-decoration: line-through;
    color: grey;
}
.price-wrapper .price-after {
    color: red;
}
.look-detail-slider {
    left: 0 !important;
}
.thumbnail-wrapper {
    margin: 10px;
}
.thumbnail-wrapper img {
    padding: 3px;
}
.look-detail-slider li img {
    text-align: center;
    margin: auto;
}
input.labelauty + label {
    padding: 7px;
}
input.labelauty + label .labelauty-unchecked {
    color: black;
}
#detail-jiathis .jiathis_style .jiathis_counter.jiathis_bubble_style {
    width: 36px !important;
}
#detail-jiathis .jiathis_style a {
    display: inline-block !important;
    line-height: 1.2rem !important;
    float: none;
}