.banner-slider img,
#banner-slider img {
    width: 100%;
}
#body .lSSlideOuter .lSPager {
    margin-top: -10px !important;
}
.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #999 !important;
}
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #A7866A !important;
}
.page-content {
    margin: 10px auto;
}
@media only screen and (max-width: 40em) {
    .item-list ul li {
        padding: 1px;
    }
    .list-tagger {
        padding-left: 0.5rem;
        border:0;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(200deg, #856f5e, white);
        border-image-slice: 1;
    }
    .list-tagger i, .list-tagger div {
        font-size: large;
        font-weight: 300;
        color: #A7866A;
    }
    .list-tagger .english-note {
        font-size: large;
        color: #999;
    }
    .item-description {
        height: 6rem;
    }
    .topic-title-cover .topic-title {
        margin-top: 1%;
        padding: 0 3rem;
        color: #A7866A;
    }
    .topic-title-cover .topic-subtitle {
        margin-top: 1%;
        color: #666;
    }
}
@media only screen and (min-width: 40.063em) {
    .item-list ul li {
        padding: 7px;
        transition: all 0.3s ease-in-out 0.1s;
    }
    .list-tagger {
        padding-left: 0.5rem;
        border: 0;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(350deg, #856f5e, white);
        border-image-slice: 1;
    }
    .list-tagger i, .list-tagger div {
        font-size: x-large;
        font-weight: 300;
        color: #A7866A;
    }
    .list-tagger .english-note {
        font-size: large;
        color: #999;
    }
    .item-description {
        height: 7rem;
    }
    .item-list ul li:hover {
        background-color: white;
        transform: scale(1.02);
        box-shadow: 0 5px 10px 5px #707070;
    }
    .item-list ul li {
        list-style: none;
    }
    .topic-content {
        position: relative;
        display: block;
        text-align: center;
    }
    .topic-content img {
        width: 100%;
    }
    .topic-title-cover {
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        border: 0;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(20deg, #856f5e, white);
        border-image-slice: 1;
        border-radius: 5px;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
    }
    .topic-title-cover .topic-title {
        margin-top: 1%;
        padding: 0 3rem;
        font-size: x-large;
        color: #A7866A;
        text-shadow: 1px 1px #d1d1d1;
    }
    .topic-title-cover .topic-subtitle {
        margin-top: 1%;
        font-size: medium;
        color: #666;
        text-shadow: 1px 1px #d1d1d1;
    }
}

.page-seperator {
    height: 1rem;
    margin: 1rem 0;
    background: url("/images/logo/background-pattern.png") repeat;
    background-size: auto;
    background-position: center;
}
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #d2917b;
}
.section-subtitle {
    font-size: 1.2rem;
    color: #848484;
}

.item-list {
    width: 95%;
    margin: 0 auto 5rem auto;
}
/*---------------*/
/***** Milo *****/
/*---------------*/
.grid {
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    margin-top: 1rem;
}

/* Common style */
.grid figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}
.grid .border-wrapper {
    display: inline-block;
    padding: .5rem;
    margin: 1rem;
    border: solid 1px #febba4;
}
.grid figure img {
    position: relative;
    display: block;
    opacity: 0.8;
}
.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}
.grid figure figcaption,
.grid figure a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}
.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h2 span {
    font-weight: 800;
}
.grid figure h2,
.grid figure p {
    margin: 0;
}
.grid figure p {
    letter-spacing: 1px;
    font-size: 82.5%;
}
figure.effect-milo {
    background: #2e5d5a;
}
figure.effect-milo img {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
figure.effect-milo:hover img {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
figure.effect-milo h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}
figure.effect-milo p {
    padding: 0 10px 0 0;
    width: 50%;
    border-right: 1px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px,0,0);
    transform: translate3d(-40px,0,0);
}
figure.effect-milo:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*---------------*/
/***** Ruby *****/
/*---------------*/

figure.effect-ruby {
    background-color: #f9e4db;
}
figure.effect-ruby p {
    color: black;
}
figure.effect-ruby h2 {
    color: #333;
}
figure.effect-ruby img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

figure.effect-ruby:hover img {
    opacity: 0.5;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-ruby h2 {
    margin-top: 20%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
    margin: 1em 0 0;
    padding: 3em;
    border: 1px solid black;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0) scale(1.1);
    transform: translate3d(0,20px,0) scale(1.1);
}

figure.effect-ruby:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}
/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.effect-dexter {
    background: -webkit-linear-gradient(top, #b9b9b9 0%, rgba(104,60,19,1) 100%);
    background: linear-gradient(to bottom, #b9b9b9 0%,rgba(104,60,19,1) 100%);
}

figure.effect-dexter img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
    opacity: 0.4;
}

figure.effect-dexter figcaption::after {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    border: 7px solid #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
    padding: 3em;
    text-align: left;
}

figure.effect-dexter p {
    position: absolute;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar {
    background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
    background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.effect-oscar img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
    padding: 3em;
    background-color: rgba(58,52,42,0.7);
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 1px solid #fff;
    content: '';
}

figure.effect-oscar h2 {
    margin: 20% 0 10px 0;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.effect-oscar:hover h2 {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-oscar:hover figcaption {
    background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
    opacity: 0.4;
}/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
    background: #848484;
}

figure.effect-layla img {
    min-width: 100%;
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}

figure.effect-layla figcaption {
    padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
    position: absolute;
    content: '';
    opacity: 0;
}

figure.effect-layla figcaption::before {
    top: 50px;
    right: 30px;
    bottom: 50px;
    left: 30px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
    top: 30px;
    right: 50px;
    bottom: 30px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

figure.effect-layla h2 {
    padding-top: 26%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

figure.effect-layla p {
    padding: 0.5em 2em;
    text-transform: none;
    opacity: 0;
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
    opacity: 0.7;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}
/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
    background: #9e5406;
}

figure.effect-bubba img {
    opacity: 0.7;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    padding-top: 30%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figcaption h2 {
    color: white;
}

#parallax_box_3 {
    margin-bottom: 0px;
    background-position: 50% 58px;
}
#parallax_box_3 {
    padding-bottom: 30px;
}
#parallax_box_3 {
    padding-top: 30px;
}
#parallax_box_3 {
    background-image: url(http://w-static1.sunnytoo.net/third/upload/stparallax/3d0cc15948dcfa8d73a9980ce349d8ca.jpg);
    /*background-image: url(/images/banner/banner2.jpg);*/
}
.parallax_box.parallax_box_img {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: repeat;
}
.parallax_text_con_4 .style_content, .parallax_text_con_4 .style_content a {
    color: #ffffff;
}
.parallax_text_con .sub-text{
    font-size: 2rem;
    color: #fff;
}
.parallax_text_con .sign-text{
    font-size: 2.8rem;
    color: #f9e4db;
}
.style_content h3 {
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 14px;
}
#company-modal,
#team-modal {
    padding: 2rem;
    width: 70%;
}
#culture-modal {
    padding: 2rem;
    width: 40%;
}
.info-modal-title {
    color: #d2917b;
    font-size: 1.7rem;
    border-bottom: solid 2px #d2917b;
    margin-bottom: 1.1rem;
}
.info-modal-title .sub-text {
    color: #848484;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.info-modal-content {
    color: #333;
    font-size: 1rem;
}