.banner-slider img,
#banner-slider img {
    width: 100%;
}
#body .lSSlideOuter .lSPager {
    margin-top: -10px !important;
}
.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #999 !important;
}
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #A7866A !important;
}
.page-content {
    margin: 10px auto;
}
.item-image-wrapper {
    max-height: 400px;
    height: auto;
    display: block;
    overflow: hidden;
    position: relative;
}
.item-image-wrapper img {
    max-width: 100%;
}
.item-description {
    padding: 1rem;
    text-align: center;
    color: grey;
    background-color: white;
    font-size: 0.8rem;
}
@media only screen and (max-width: 40em) {
    .item-list ul li {
        padding: 1px;
    }
    .list-tagger {
        padding-left: 0.5rem;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(200deg, #856f5e, white);
        border-image-slice: 1;
    }
    .list-tagger i, .list-tagger div {
        font-size: large;
        font-weight: 300;
        color: #A7866A;
    }
    .list-tagger .english-note {
        font-size: large;
        color: #999;
    }
    .item-description {
        height: 6rem;
    }
    .topic-title-cover .topic-title {
        margin-top: 1%;
        padding: 0 3rem;
        color: #A7866A;
    }
    .topic-title-cover .topic-subtitle {
        margin-top: 1%;
        color: #666;
    }
}
@media only screen and (min-width: 40.063em) {
    .item-list ul li {
        padding: 7px;
        transition: all 0.3s ease-in-out 0.1s;
    }
    .list-tagger {
        padding-left: 0.5rem;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(200deg, #856f5e, white);
        border-image-slice: 1;
    }
    .list-tagger i, .list-tagger div {
        font-size: x-large;
        font-weight: 300;
        color: #A7866A;
    }
    .list-tagger .english-note {
        font-size: large;
        color: #999;
    }
    .item-description {
        height: 7rem;
    }
    .item-list ul li:hover {
        background-color: white;
        transform: scale(1.02);
        box-shadow: 0 5px 10px 5px #707070;
    }
    .item-list ul li {
        list-style: none;
    }
    .topic-content {
        position: relative;
        display: block;
        text-align: center;
    }
    .topic-content img {
        width: 100%;
    }
    .topic-title-cover {
        position: absolute;
        background: rgba(255, 255, 255, 0.6);
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(20deg, #856f5e, white);
        border-image-slice: 1;
        border-radius: 5px;
        bottom: 0;
        margin: auto;
        vertical-align: middle;
    }
    .topic-title-cover .topic-title {
        margin-top: 1%;
        padding: 0 3rem;
        font-size: x-large;
        color: #A7866A;
        text-shadow: 1px 1px #d1d1d1;
    }
    .topic-title-cover .topic-subtitle {
        margin-top: 1%;
        font-size: medium;
        color: #666;
        text-shadow: 1px 1px #d1d1d1;
    }
}
.coming-soon-pic {
    text-align: center;
    margin-top: 20%;
    font-size: x-large;
    color: #333;
    width: 100%;
    height: 30%;
}
.list-banner li {
    list-style:none;
}
.item-title {
    font-weight: 700;
    color: #3a3a3a;
}
.item-price {
    font: 300 14px/18px Lato,"Trebuchet MS",Helvetica,sans-serif;
    position: relative;
}
.item-price-num-wrapper {
    background: #ffffff;
    display: inline-block;
    padding: 0 8px 0 12px;
    z-index: 1;
    position: relative;
}
.item-price-num {
    display: inline-block;
}
.item-price-num-current {
    margin: 0 5px 0 0;
    display: inline-block;
}
.item-price-hr {
    position: absolute;
    bottom: 6px;
    left: 13%;
    z-index: 0;
    width: 75%;
    border-top: 1px solid #cccccd;
}
.sale-box {
    height: 100px;
    right: -5px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 100px;
}
.sale-box span.on_sale {
    background: rgba(167, 106, 106, 0.48);
    color: #FFF;
    display: block;
    font-size: 0.5em;
    padding: 2px 0;
    position: relative;
    text-align: center;
    top: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100px;
    z-index: 2;
    text-transform: uppercase;
    border-bottom: 2px solid #A7866A;
    right: -20px;
}