.page-content {
    margin: 10px auto;
}
.item-image-wrapper {
    max-height: 400px;
    height: auto;
    display: block;
    overflow: hidden;
}
.item-image-wrapper img {
    max-width: 100%;
}
.item-description {
    height: 5rem;
    padding: 1rem;
    text-align: center;
    color: grey;
    background-color: white;
    font-size: 0.8rem;
}
.item-list ul li {
    padding: 7px;
    transition: all 0.3s ease-in-out 0.1s;
}
.item-list ul li:hover {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 0px 5px 10px 5px #707070;
}
.list-banner li {
    list-style:none;
}