#body {
    background-color: #e2e2e2;
}
@media only screen and (min-width: 40.063em) {
    .page-content {
        width: 90%;
        max-width: 1200px;
        min-height: 300px;
        text-align: center;
        margin: auto;
    }
}
@media only screen and (max-width: 40em) {
    .page-content {
        width: 100%;
        max-width: 1200px;
        min-height: 300px;
        text-align: center;
        margin: auto;
    }
}
.page-info {
    display: none;
}
.row {
    max-width: 95% !important;
}
.row .row {
    margin-left: auto !important;
    margin-right: auto !important;
}
.all-list tr th,
.all-list tr td {
    text-align: center !important;
}
input.labelauty + label {
    display: inline !important;
}
/*
 *  user/footer.css
 *  @author: WANG Minghao
*/
.top-footer {
    width: 100%;
    margin-top: 80px;
    text-align: center;
    background: lightgrey;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    padding-top: 1.5rem;
}
.top-footer h3 {
    font-weight: normal;
    color: lightgrey;
}
.learn-links {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 40px;
}
.learn-links ul li {
    font-size: 13px;
}
.learn-links p {
    margin-left: 3rem;
    font-size: 13px;
    font-weight: lighter;
}
.bottom-footer {
    width: 100%;
    background: url("http://static.lanzhujue.com/image/user/footer-bg.png") #080808;
    height: 180px;
    text-align: center;
    position: relative;
    padding: 50px 20px 0 20px;
    overflow: hidden;
}
/*
 *  user/header.css
 *  @author: WANG Minghao
*/
header {
    background: url("/images/banner.png") #074e68;
    background-size: cover;
    padding: 22px 0;
}
.left-menu .tab-bar {
    background-color: #121212;
}
.tab-bar-section img {
    height: 2.6rem;
}
#top-bar {
    background: #121212 !important;
    height: 70px !important;
}
#top-bar #top-bar-content {
    width: 80%;
    height: 100%;
    margin: auto;
    background: #121212;
}
#top-bar #top-bar-content .title-area span {
    vertical-align: bottom;
    color: #707070;
    position: relative;
    top: 35px;
}
#top-bar #top-bar-content .title-area {
    float: left;
}
#top-bar #top-bar-content .logo img {
    margin-top: 10px;
    height: 50px;
    vertical-align: middle;
    line-height: 70px;
}
#top-bar .menu-section {
    float: right;
    line-height: 0;
}
#top-bar-content .menu-section .top-button {
    background: #121212;
    height: 65px;
    line-height: 65px;
    padding: 0 2.5rem;
    font-size: 0.85rem;
    top: 0;
}
#top-bar-content .menu-section li .selected-sign {
    width: 100%;
    height: 5px;
    text-align: center;
    background: #121212;
}
#top-bar-content .menu-section li .selected-sign img {
    height: 5px;
    padding: 0;
    margin: 0 auto;
    display: none;
}
#top-bar-content .menu-section li .selected img {
    display: inherit !important;
}
#top-bar-content .menu-section li a:hover {
    color: #4c8bf2 !important;
}
.top-bar-section img {
    margin-bottom: 1rem;
    display: block;
}
.bottom-line {
    height: 3px;
    background-color: #595959;
    z-index: 100;
}
ul {
    list-style: none;
}
.page-content {
    margin: 10px auto;
}
.item-image-wrapper {
    max-height: 400px;
    height: auto;
    display: block;
    overflow: hidden;
}
.item-image-wrapper img {
    max-width: 100%;
}
.item-description {
    height: 4rem;
    padding: 1rem;
    text-align: center;
    color: grey;
    background-color: white;
    font-size: 0.8rem;
}
.item-list ul li {
    padding: 7px;
    transition: all 0.3s ease-in-out 0.1s;
}
.item-list ul li:hover {
    background-color: white;
    transform: scale(1.03);
    box-shadow: 0px 5px 10px 5px #707070;
}
.list-banner li {
    list-style:none;
}
#topic-page-content {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
@media only screen and (min-width: 40.063em) {
    #look-detail-page-content {
        width: 90%;
        max-width: 1200px;
    }
    .detail-description {
        background-color: white;
        padding: 2rem;
    }
}
@media only screen and (max-width: 40em) {
    #look-detail-page-content .row .columns {
        padding: 0;
    }
    #look-detail-page-content {
        width: 99%;
    }
    .detail-description {
        background-color: white;
        padding: 1.3rem;
    }
}
.look-detail-slider {
    left: 0 !important;
}
#bx-pager {
    margin-top: 3rem;
}
.thumbnail-wrapper {
    margin: 10px;
}
.thumbnail-wrapper img {
    padding: 3px;
}
.look-tag-list input.labelauty + label {
    display: inline-block;
    cursor: default;
}
.look-detail-slider li img {
    text-align: center;
    margin: auto;
}
.detail-image-slider {
    background-color: white;
    padding: 10px;
}
input.labelauty + label {
    padding: 7px;
}
input.labelauty + label .labelauty-unchecked {
    color: black;
}
#detail-jiathis .jiathis_style .jiathis_counter.jiathis_bubble_style {
    width: 36px !important;
}
#detail-jiathis .jiathis_style a {
    display: inline-block !important;
    line-height: 1.2rem !important;
    float: none;
}