@media only screen and (min-width: 40.063em) {
}
@media only screen and (max-width: 40em) {
}
.page-content {
    width: 100%;
    max-width: 1200px;
    min-height: 300px;
    text-align: center;
    margin: auto;
}
.woyang-search {
    margin-bottom: 1rem;
}
.woyang-search .menu .input-wrapper {
    width: 79%;
    display: inline-block;
    margin-left: 1%;
}
.woyang-search .menu .input-wrapper input {
    border: 1px solid #e2a8b3;
}
.woyang-search .menu .btn-wrapper {
    width: 18%;
    display: inline-block;
}
.btn-wrapper a {
    width: 100%;
    margin: 0;
    background: #c21f3e;
    cursor: pointer;
}
.btn-wrapper a:hover,
.btn-wrapper a:active {
    background: #a61e38;
    color: white;
}
#body .title-bar.woyang-title {
    background: linear-gradient(135deg, #c91f3f, #a50047);
    /*background-image: image("/images/woyang/1.png");*/
    /*background: url("/images/woyang/3.png") #a50047;*/
    background-position: 60%;
}
#woyang-content .bottom-line-down {
    height: 3px;
    background-color: #c91f3f;
    z-index: 100;
}
#woyang-content .page-content {
    min-height: 200px;
    margin-bottom: 3rem;
}
.detail-tab {
    width: 33.33%;
}
#body .detail-tab>a:focus, #body .detail-tab>a:hover, #body .detail-tab>a[aria-selected=true] {
    background: rgba(201, 31, 63, 0.1);
}
#body .detail-tab>a {
    padding: .7rem 1.5rem;
    color: #ba1d3a;
}
#body .detail-tab>a {
    background: #f2f2f2;
    text-align: center;
}
.detail-description ul li a {
    font-size: 14px;
    font-weight: 600;
}
#body .detail-tab>a i {
    font-size: 1.6rem;
}
#body .detail-tab>a div {
    line-height: 1.6rem;
    vertical-align: middle;
}
#woyang-content .tabs-panel {
    padding: 0;
}
#body .item-price-num-current {
    color: #c91f3f;
}
.item-like {
    margin-top: -.5rem;
    margin-bottom: .1rem;
}
#woyang-content .sale-box span.on_sale {
    background: rgba(167, 106, 106, 0.73);
}
.item-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.woyang-filter {
    background: #eee;
    margin-top: .5rem;
}
#woyang-content .woyang-filter .menu > li > a {
    color: #333;
}
#woyang-content .woyang-filter .menu>li {
    margin-right: 1rem;
}
.woyang-filter .menu.submenu {
    z-index: 10;
}
#notes,
#comments {
    margin-top: 1rem;
    color: #666;
}
.product-artical {
    margin-top: 1.5rem;
}
.detail-title {
    font-size: 1.2rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}
#notes ul,
#comments ul {
    list-style-position: inside;
    list-style-type: square;
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 400;
}
#notes .column,
#comments .column {
    margin-bottom: 1.5rem;
}
/** Colors */
.rating-1 .star-1,
.rating-1-half .star-1 {
    border-color: #cc8b1f;
    background: #cc8b1f;
}
.rating-1-half .star-2 {
    border-left-color: #cc8b1f;
}
.rating-2 .star-1,
.rating-2-half .star-1 {
    border-color: #dcb228;
    background: #dcb228;
}
.rating-2 .star-2,
.rating-2-half .star-2 {
    border-color: #dcb228;
    background: #dcb228;
}
.rating-2-half .star-3 {
    border-left-color: #dcb228;
}
.rating-3 .star-1,
.rating-3-half .star-1 {
    border-color: #f0991e;
    background: #f0991e;
}
.rating-3 .star-2,
.rating-3-half .star-2 {
    border-color: #f0991e;
    background: #f0991e;
}
.rating-3 .star-3,
.rating-3-half .star-3 {
    border-color: #f0991e;
    background: #f0991e;
}
.rating-3-half .star-4 {
    border-left-color: #f0991e;
}
.rating-4 .star-1,
.rating-4-half .star-1 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4 .star-2,
.rating-4-half .star-2 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4 .star-3,
.rating-4-half .star-3 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4 .star-4,
.rating-4-half .star-4 {
    border-color: #f26a2c;
    background: #f26a2c;
}
.rating-4-half .star-5 {
    border-left-color: #f26a2c;
}
.rating-5 .star-1,
.rating-5-half .star-1 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-2,
.rating-5-half .star-2 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-3,
.rating-5-half .star-3 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-4,
.rating-5-half .star-4 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5 .star-5,
.rating-5-half .star-5 {
    border-color: #dd050b;
    background: #dd050b;
}
.rating-5-half .star-6 {
     border-left-color: #dd050b;
 }
.rating i {
    display: inline-block;
    width: 0;
    height: 1.5em;
    border-width: 0 0.75em;
    border-style: solid;
    border-color: #eee;
    border-radius: .22em;
    color: white;
    background: #eee;
    font-style: normal;
    line-height: 1.6em;
    text-indent: -0.5em;
    text-shadow: 1px 0 1px #b3b3b3;
}
.article-list.first {
    margin-top: .5rem;
}
.article-list {
    margin-top: 1.5rem;
}
.article-list .topic-title-cover .topic-subtitle {
    border:0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(290deg, white, #c91f3f);
    border-image-slice: 1;
}
.logo-wrapper img.woyang-home {
    height: 150px;
    margin-top: 2rem;
}
.woyang-search.woyang-home {
    padding: 4rem 0;
    background: white;
    margin: 0;
}
#woyang-content .menu-wrapper {
    background: white;
}
.woyang-home#woyang-content {
    background-color: #f4f4f4;
}
#woyang-content .coming-soon-pic {
    background: white;
    padding-top:20%;
    margin-top: 0;
}
.item-description.coming-soon-pic {
    padding-top: 3rem;
}