<!-- footer -->
<section class="top-footer">
    <blockquote>
        " 用创新与美建立高品质的生活体验。"
        <div>Create high quality life experience with innovation and beauty</div>
    </blockquote>
</section>

<section class="bottom-footer">

</section>

<!-- close wrapper, no more content after this -->
</div>
</div>
</div>

<script src="/script/vendor/modernizr.js"></script>
<script src="/script/vendor/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script src="/script/vendor/unslider-min.js"></script>
<script src="/script/admin/common.js"></script>
</body>
</html>