<!-- footer -->
<section class="top-footer">
    <blockquote>
        " 精选品质餐具。"<cite>ZaiTaoYuan.com</cite>
    </blockquote>
</section>

<section class="bottom-footer">

</section>

<!-- close wrapper, no more content after this -->
</div>
</div>
</div>

<script src="/script/vendor/modernizr.js"></script>
<script src="/script/vendor/foundation.min.js"></script>
<script src="/script/vendor/unslider-min.js"></script>
<script src="/script/msgModal.js"></script>
<script src="/script/admin/common.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>