#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="pageType" type="java.lang.String" *#
<!DOCTYPE html>
<html lang="en">

<!-- header start -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="男神梦工厂" />
    <meta name="description" content="男神梦工厂（www.IamNanShen.com）是由男神梦之队搭建而成，目的是全面提升祖国男性的生活质量。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>世界蕾丝时尚管理系统</title>

    <!-- style stuff -->
    <link type="image/x-icon" href="/images/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="/css/admin/header.css">
    <link rel="stylesheet" href="/css/admin/footer.css">
    <link rel="stylesheet" href="/css/tool.css">
    <link rel="stylesheet" href="/css/admin/common.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation-icons.css">

    <!-- js stuff -->
    <script src="/script/vendor/jquery.js"></script>
</head>

<!-- body start -->
<body id="body">

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <!-- off-canvas title bar for 'small' screen -->
        <div class="title-bar" data-responsive-toggle="widemenu" data-hide-for="medium">
            <div class="title-bar-left">
                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
                <span class="title-bar-title">世界蕾丝时尚管理系统</span>
            </div>
        </div>

        <!-- off-canvas left menu -->
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <ul class="vertical dropdown menu" data-dropdown-menu>
                <li><a href="/admin">登陆</a></li>
                <li><a href="/admin/orderList">订单列表</a></li>
                <li><a href="#">商品列表</a></li>
                <li><a href="#">上传sku</a></li>
                <li><a href="/">到用户页面</a></li>
            </ul>
        </div>

        <!-- "wider" top-bar menu for 'medium' and up -->
        <div id="main-menu" class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu data-click-open="false" data-responsive-menu="drilldown medium-dropdown">
                    <li class="menu-text">世界蕾丝时尚管理系统</li>
                    <li class="has-submenu">
                        <a href="/admin/orderList">订单列表</a>
                        <ul class="menu vertical">
                            <li><a href="/admin/orderList">全部订单</a></li>
                            <li><a href="/admin/orderList?status=NEW">待支付订单</a></li>
                            <li><a href="/admin/orderList?status=PAYING">正在支付订单</a></li>
                            <li><a href="/admin/orderList?status=PAYED">已支付订单</a></li>
                            <li><a href="/admin/orderList?status=CONFIRMED">待发货订单</a></li>
                            <li><a href="/admin/orderList?status=SHIPPING">待收货订单</a></li>
                            <li><a href="/admin/orderList?status=FINISHED">已完结订单</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">优惠券</a>
                        <ul class="menu submenu vertical" data-submenu>
                            <li><a href="/admin/discount/create">生成优惠券</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu">
                        <a href="#">管理功能</a>
                        <ul class="menu submenu vertical" data-submenu>
                            <li><a target="_blank" href="/admin/special/clearCartCache?key=2">清除购物车缓存</a></li>
                            <li><a target="_blank" href="/admin/special/clearOrderCache?key=2">清除订单缓存</a></li>
                            <li><a target="_blank" href="/admin/special/clearAdminUserInfoCache?key=2">清除管理员缓存</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/">世界蕾丝时尚首页</a>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="menu">
                    <li>Hi, $!{adminUserInfo.getRealName()} &nbsp;</li>
                    #if ("$!{adminUserInfo}" == "")
                    <li><a href="/admin"><button class="button">登陆</button></a></li>
                    #else
                    <li><a href="/admin/auth/signout"><button class="button">退出登录</button></a></li>
                    #end
                </ul>
            </div>
        </div>

        <!-- original content goes in this container -->
        <div class="off-canvas-content" data-off-canvas-content>
            #if ("$!{pageType}" == "SIGN_IN")
            <div class="banner">
##                <img src="http://image-cdn.zaitaoyuan.com/images/slider/slider8.jpg@!list-banner-s" alt="" />
            </div>
            #else
            <div class="banner smaller">
##                <img src="http://image-cdn.zaitaoyuan.com/images/slider/slider8.jpg@!list-banner-s" alt="" />
            </div>
            #end