#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#

#parse("admin/header.vm")
<!-- end of header -->

<!-- some hidden infos -->
<div id="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li ><a href="/"><i class="fi-home"></i> 运营系统</a></li>
    <li class="current"><a href="/"><i class="fi-list-thumbnails"></i> 搭配列表</a></li>
</ul>

<!-- page contents -->
<div class="page-content margin-top-small">

    <div class="row panel">
        <div class="row">
            <div class="large-3 column left-align">线上搭配数:
                <span class="redText">0</span>
            </div>
            <div class="large-3 column left-align">线下搭配数:
                <span class="blueText">4</span>
            </div>
            <div class="large-3 column left-align">本周新上线搭配数:
                <span class="greenText">0</span>
            </div>
            <div class="large-3 columns left-align">本周新搭配数:
                <span class="greenText">4</span>
            </div>
        </div>
    </div>

    <div class="margin-top"></div>

    <div class="row">
        <dl class="sub-nav">
            <dt class="blueText">过滤器：</dt>
            <dd><a href="#">线上搭配</a></dd>
            <dd class="active"><a href="#">线下搭配</a></dd>
            <dd><a href="#">未完成搭配</a></dd>
        </dl>
    </div>

    <table class="all-list row center" cellpadding=0 cellspacing=0>
        <thead>
        <tr class="center">
            <th scope="column" width="50px">序号</th>
            <th scope="column" width="70%">搭配配图</th>
            <th scope="column">搭配名称</th>
            <th scope="column">操作</th>
        </tr>
        </thead>

        <tbody class="all-list-tbody center">
            <tr id="order-1">
                <td>1</td>
                <td>
                    <img src="$!{imgUrl}" alt=""/></td>
                <td>
                    $!{title}
                    <div class="greyText">$!{subTitle}</div>
                </td>
                <td>
                    <a href="#" class="tiny button -order-info-button">置顶</a>
                    <a href="#" class="tiny button -order-info-button">上线</a>
                    <a href="#" class="tiny button -order-info-button">详情</a>
                    <a href="#" class="tiny button -order-info-button">删除</a>
                </td>
            </tr>

            <tr id="order-1">
                <td>2</td>
                <td>
                    <img src="$!{imgUrl}" alt=""/></td>
                <td>
                    $!{title}
                    <div class="greyText">$!{subTitle}</div>
                </td>
                <td>
                    <a href="#" class="tiny button -order-info-button">置顶</a>
                    <a href="#" class="tiny button -order-info-button">上线</a>
                    <a href="#" class="tiny button -order-info-button">详情</a>
                    <a href="#" class="tiny button -order-info-button">删除</a>
                </td>
            </tr>

            <tr id="order-1">
                <td>3</td>
                <td>
                    <img src="$!{imgUrl}" alt=""/></td>
                <td>
                    $!{title}
                    <div class="greyText">$!{subTitle}</div>
                </td>
                <td>
                    <a href="#" class="tiny button -order-info-button">置顶</a>
                    <a href="#" class="tiny button -order-info-button">上线</a>
                    <a href="#" class="tiny button -order-info-button">详情</a>
                    <a href="#" class="tiny button -order-info-button">删除</a>
                </td>
            </tr>

            <tr id="order-1">
                <td>4</td>
                <td>
                    <img src="$!{imgUrl}" alt=""/></td>
                <td>
                    $!{title}
                    <div class="greyText">$!{subTitle}</div>
                </td>
                <td>
                    <a href="#" class="tiny button -order-info-button">置顶</a>
                    <a href="#" class="tiny button -order-info-button">上线</a>
                    <a href="#" class="tiny button -order-info-button">详情</a>
                    <a href="#" class="tiny button -order-info-button">删除</a>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="row margin-top" cellpadding=0 cellspacing=0>
        <thead>
        <tr class="empty-info-tr"
            #if ($!{eventList} != "[]")
            style="display:none"
            #end>
            <th scope="column" class="empty-info-th">抱歉，暂无客服事件。</th>
        </tr>
        </thead>
    </table>

    <!-- 翻页模块 -->
    #parse("pager.vm")

</div>
<!-- end of this page contents -->

<!-- start of footer-->
#include("footer.vm")