#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="lookTagList" type="java.util.List" *#
#* @vtlvariable name="lookTag" type="nanshen.data.LookTag" *#


#parse("admin/header.vm")
<link rel="stylesheet" href="/css/admin/lookUpload.css"/>
<script src="/script/vendor/jquery.uploadify.min.js" type="text/javascript"></script>
<!-- end of header -->

<!-- some hidden infos -->
<div id="page-info">
    <div id="this-tag">orders</div>
    <div id="sessionId">$!{sessionId}</div>
    <div id="lookId">$!{lookId}</div>
</div>

<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li ><a href="/"><i class="fi-home"></i> 运营系统</a></li>
    <li class="current"><a href="/"><i class="fi-list-thumbnails"></i> 搭配列表</a></li>
</ul>

<!-- page contents -->
<div class="page-content margin-top-small">

    <div class="row">
        <form action="/admin/operation/look/upload" method="get" id="activate-form"
              class="large-12 medium-6 small-12 row collapse prefix-radius leftAlign">
            <input id="lookId-form" name="lookId" type="hidden" value="$!{lookId}">
            <div class="small-12 columns">
                <label class="tag-label">标题信息</label>
            </div>
            <div class="small-2 columns">
                <span class="prefix">标题</span>
            </div>
            <div class="small-10 columns">
                <input id="title" name="title" type="text" placeholder="Title">
            </div>
            <div class="small-2 columns">
                <span class="prefix">子标题</span>
            </div>
            <div class="small-10 columns">
                <input name="subTitle" type="text" placeholder="SubTitle">
            </div>
            <div class="small-12 columns">
                <label class="tag-label">标签</label>
                <div class="row">
                    #foreach ($lookTag in ${lookTagList})
                        <div class="small-2 columns end">
                            <input id="checkbox-$lookTag.id" type="checkbox">
                            <label for="checkbox-$lookTag.id">$lookTag.tagName</label>
                        </div>
                    #end
                </div>
            </div>
            <div class="small-12 columns">
                <label class="tag-label">简要描述</label>
                <textarea id="desc" name="desc" type="" style="height:100px" placeholder="Descriptions"></textarea>
            </div>
            <div class="small-12 columns">
                <label class="tag-label">搭配配图列表</label>
                <a href="#" data-reveal-id="uploadModal" class="button tiny" id="upload-btn">上传</a>
                <div class="image-wrapper" data-equalizer></div>
            </div>
            <div class="small-12 columns margin-top">
                <input id="checkbox0" type="checkbox">
                <label for="checkbox0">
                    我已阅读<a href="/howTo" target="_blank">上传搭配注意事项书</a>，并同意其中所有条款。
                </label>
            </div>
            <div class="row collapse prefix-radius margin-top margin-bottom">
                <div class="large-6 columns large-centered">
                    <input type="submit" class="button tiny postfix" id="activate-button" value="提交搭配">
                </div>
            </div>
        </form>
    </div>

    <!-- 上传图片 弹出框 -->
    <div id="uploadModal" class="reveal-modal" data-reveal>
        <h2>请点击上传配图</h2>
        <p class="redText">注意：暂不支持IE以及其他类IE浏览器，十分抱歉！上传支持不大于5MB的JPG、GIF、PNG格式图片。</p>

        <div class="row clearfix">
            <div class="large-5 col-content columns">
                <div class="clearfix upload-file-box">
                    <div class="upload-con zm">
                        <input type="file" class="upload-file" id="uploadify" node-type="file-cart">
                    </div>
                </div>
            </div>
        </div>
        <a class="close-reveal-modal">&#215;</a>
    </div>

</div>
<!-- end of this page contents -->

<script src="/script/login.js"></script>
<script src="/script/admin/lookUpload.js"></script>
#include("footer.vm")