#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#


#parse("admin/header.vm")
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content margin-top-small">

    <!-- breadcrumbs -->
    <ul class="breadcrumbs row">
        <li ><a href="/"><i class="fi-home"></i> 未登录用户</a></li>
        <li class="current"><a href="/"><i class="fi-list-thumbnails"></i> 登陆/注册</a></li>
    </ul>

    <div class="row" data-equalizer>
        <div class="login-wrapper small-12 columns" data-equalizer-watch>
            <form action="/admin/auth/signin" method="post" id="login-form">
                <fieldset class="callout row margin-top primary">
                    <legend>登陆 Log In</legend>
                    <div class="small-12 column large-centered margin-top">
                        <div class="row collapse prefix-radius margin-top-small">
                            <div class="small-2 columns">
                                <span class="prefix">邮箱</span>
                            </div>
                            <div class="small-10 columns">
                                <input id="username" name="username" type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="row collapse prefix-radius">
                            <div class="small-2 columns">
                                <span class="prefix">密码</span>
                            </div>
                            <div class="small-10 columns">
                                <input id="password" name="password" type="password" placeholder="password">
                            </div>
                        </div>
                        <div class="row center">
                            <input type="submit" class="button margin-top-small" id="login-button" value="登录">
                        </div>
                        <div class="margin-bottom"></div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script src="/script/login.js"></script>
<script src="/script/user/common.js"></script>
#include("admin/footer.vm")