#* @vtlvariable name="skuInfoList" type="java.util.ArrayList<nanshen.data.SkuInfo>" *#
#* @vtlvariable name="skuInfo" type="nanshen.data.SkuInfo" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
#* @vtlvariable name="idAndAdminUserInfoMap" type="java.util.Map" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="status" type="nanshen.data.PublicationStatus" *#
#* @vtlvariable name="Publication" type="nanshen.data.PublicationStatus" *#
#* @vtlvariable name="onlineCnt" type="java.lang.Long" *#
#* @vtlvariable name="offlineCnt" type="java.lang.Long" *#
#* @vtlvariable name="onlineNewCnt" type="java.lang.Long" *#
#* @vtlvariable name="offlineNewCnt" type="java.lang.Long" *#

#parse("admin/header.vm")
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info"></div>

<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li ><a href="/"><i class="fi-home"></i> 运营系统</a></li>
    <li class="current"><a href="/"><i class="fi-list-thumbnails"></i> 单品列表</a></li>
</ul>

<!-- page contents -->
<div class="page-content margin-top-small">

    <div class="row panel">
        <div class="row">
            <div class="large-3 column left-align">线上搭配数:
                <span class="greenText"> $onlineCnt</span>
            </div>
            <div class="large-3 column left-align">线下搭配数:
                <span class="redText"> $offlineCnt</span>
            </div>
            <div class="large-3 column left-align">本周新上线搭配数:
                <span class="greenText"> $onlineNewCnt</span>
            </div>
            <div class="large-3 columns left-align">本周新搭配数:
                <span class="redText"> $offlineNewCnt</span>
            </div>
        </div>
    </div>

    <div class="margin-top"></div>

    <div class="row">
        <dl class="sub-nav">
            <dt class="blueText">过滤器：</dt>
            <dd #if ($!{status} == "ONLINE") class="active" #end><a href="?status=ONLINE">线上搭配</a></dd>
            <dd #if ($!{status} == "OFFLINE") class="active" #end><a href="?status=OFFLINE">线下搭配</a></dd>
        </dl>
    </div>

    <table class="all-list row center" cellpadding=0 cellspacing=0>
        <thead>
        <tr class="center">
            <th scope="col" width="50px">序号</th>
            <th scope="col" width="90px">单品ID</th>
            <th scope="col">单品名称(类别)</th>
            <th scope="col">单品简述</th>
            <th scope="col" width="10%">上传人</th>
            <th scope="col" width="10%">上传时间</th>
            <th scope="col" width="10%">单品配图</th>
            <th scope="col">操作</th>
        </tr>
        </thead>

        <tbody class="all-list-tbody center">
        #foreach ($skuInfo in $skuInfoList)
            <tr id="order-1">
                <td>$velocityCount</td>
                <td>$skuInfo.id</td>
                <td>
                    <div class="greyText">【$skuInfo.detailType.desc】</div>
                    $skuInfo.title
                    <div class="greyText">$skuInfo.subTitle</div>
                </td>
                <td>
                    $skuInfo.description
                </td>
                <td>
                    $idAndAdminUserInfoMap.get($skuInfo.uploadUserId).getUsername()
                </td>
                <td>
                    $skuInfo.convertedCreateTime
                </td>
                <td>
                    <img src="http://nanshen.oss-cn-beijing.aliyuncs.com/images/sku/$skuInfo.id/0" alt="单品配图"/>
                </td>
                <td>
                    <a href="/admin/operation/sku/sku-upload?skuId=$skuInfo.id" class="tiny button" target="_blank">修改</a>
                    <a href="#" data-id="$skuInfo.id" class="tiny button delete-btn">删除</a>
                </td>
            </tr>
        #end
        </tbody>
    </table>

    <!-- 翻页模块 -->
    #parse("pager.vm")
    #include("msgModal.vm")

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script src="/script/admin/lookList.js"></script>
#include("admin/footer.vm")