#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.Sku.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="cart" type="nanshen.data.Cart.Cart" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="$!{cssUrlPrefix}/css/user/cart.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content margin-top-small" id="cart-page-content">

    <div class="row">

        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="/" class="brandColorText">首页列表</a></li>
                <li>
                    我的购物车
                </li>
            </ul>
        </nav>

        <div id="global-step" node-type="mod" class="row margin-top">
            <div class="step1  current small-3 columns clearfix">
                1. 我的购物车
                <span class="icotips right"></span>
                <span class="icotips-blank right"></span>
                <span class="icotips-blank2 right"></span>
            </div>
            <div class="step2 small-3 columns">
                2. 修改地址信息
                <span class="icotips"></span>
                <span class="icotips-blank"></span>
                <span class="icotips-blank2"></span>
            </div>
            <div class="step3 small-3 columns" _hover-ignore="1">
                3. 选择物流/包装
                <span class="icotips"></span>
                <span class="icotips-blank"></span>
                <span class="icotips-blank2"></span>
            </div>
            <div class="step4 small-3 columns">
                4. 确认订单信息
            </div>
        </div>

        <br/>

        #if ("$!{cart.goodsList}" != "" && $!{cart.goodsList.size()} > 0)
        <div class="small-12 columns margin-top-small" id="cart-content">
            <table cellpadding="0" cellspacing="0" class="scroll">
                <thead class="cart-thead center">
                <tr>
                    <th scope="col" width="80px">
                        <input class="checkbox-goods-all checkbox-goods" type="checkbox"> 全选
                    </th>
                    <th class="center" scope="col" width="20%">图片</th>
                    <th class="center" scope="col" width="20%">商品名称</th>
                    <th class="center" scope="col" width="">价格</th>
                    <th class="center" scope="col" width="150px">数量</th>
                    <th class="center" scope="col" width="">合计</th>
                    <th class="center" scope="col" width="">操作</th>
                </tr>
                </thead>

                <tbody class="cart-tbody center">
                #foreach ($goods in $!{cart.goodsList})
                    <tr id="cart-goods-$!{goods.id}" class="-cart-goods-$!{goods.id}">
                        <td>
                            <input id="checkbox-goods-$!{goods.id}" data-id="$!{goods.id}" type="checkbox" class="checkbox-goods checkbox-goods-item"><label for="checkbox-goods-$!{goods.id}"></label>
                        </td>
                        <td>
                            #if ("$!{goods.option1}" != "")
                                <img src="$!{imageUrlPrefix}/images/item/itemOption/$!{goods.itemId}/$!{goods.optionId}.jpg@!item-head-4" alt="" class="detail-image">
                            #else
                                <img src="$!{imageUrlPrefix}/images/item/itemHead/$!{goods.itemId}/0.jpg@!item-head-4" alt="" class="detail-image">
                            #end
                        </td>
                        <td>

                            <div class="link-1">
                                <a href="/item?itemId=$!{goods.skuId}" target="_blank" class="demo">
                                    <span class="thin">$!{goods.title}</span>
                                </a>
                            </div>
                            #if ("$!{goods.option1}" == "")
                            <div></div>
                            #else
                            <div>[ $!{goods.option1} ]</div>
                            #end
                        </td>
                        <td>
                            $!{goods.convertedPrice}
                        </td>
                        <td>
                            <div class="row count-selector">
                                <div class="small-4 columns count-minus count-adjust">
                                    <i class="fi-minus" data-id="$!{goods.id}"></i>
                                </div>
                                <div class="small-4 columns count-wrapper">
                                    <input class="item-count" id="item-count-$!{goods.id}" type="text" value="$!{goods.count}" data-rest="100" disabled>
                                </div>
                                <div class="small-4 columns count-plus count-adjust">
                                    <i class="fi-plus" data-id="$!{goods.id}"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="item-total" id="item-total-$!{goods.id}" data-step="$!{goods.convertedPriceNo}">$!{goods.convertedTotalPriceNo}</span>元
                        </td>
                        <td>
                            <a href="#" class="item-del" data-id="$!{goods.id}">删除</a>
                        </td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
        #else
        <div class="row center margin-top-large">抱歉，您的购物车为空，再去逛逛吧！</div>
        <div class="margin-top-large">&nbsp;</div>
        #end
    </div>

    <div class="row callout secondary">
        <div class="small-2 columns checkbox-goods-wrapper">
            <input class="checkbox-goods-all checkbox-goods" type="checkbox"> 全选(<span id="total-count">0</span>件)
        </div>
        <div class="small-4 columns">
            <ul class="menu">
                <li><input type="text" id="discount-code" placeholder="优惠券"></li>
                <li><button type="button" class="button discount-code-btn">使用</button></li>
            </ul>
        </div>
        <div class="small-2 columns center">
            优惠券折扣：
            <div>
                -<span id="discount">0.00</span>元
            </div>
        </div>
        <div class="small-2 columns center">
            合计(包邮):
            <div>
                <span id="total-price" data-total="0" data-discount="0">0</span>元
            </div>
        </div>
        <div class="small-2 columns">
            <a href="#" class="jz2" id="jz2">去结算</a>
        </div>
    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript" src="$!{cssUrlPrefix}/script/user/cart.js"></script>
<!-- JiaThis Button END -->
#parse("user/footer.vm")