#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.Sku.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="css/user/contact.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content margin-top" id="look-detail-page-content">
    <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
            <li><a href="/" class="brandColorText"><i class="fi-home"> </i>首页</a></li>
            <li>
                联系我们
            </li>
        </ul>
    </nav>

    <div class="row">
        <!-- Contact Details -->
        <div class="large-9 columns">
            <h3>联系我们 <span class="subtext">Contact Us</span></h3>
            <p>对于我们的产品感兴趣？有问题需要跟我们沟通？有意向加入我们？请使用下表给联系我们，我们会对<span style="color:red">每一封</span>邮件进行回复！谢谢您的支持。</p>
            <ul class="tabs" data-tabs id="contact-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">联系我们 CONTACT</a></li>
##                <li class="tabs-title"><a href="#panel2">具体人员 TEAM</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="contact-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <form id="contact-us-form">
                        <div class="row collapse">
                            <div class="large-2 columns">
                                <label class="inline">名称</label>
                            </div>
                            <div class="large-10 columns">
                                <input type="text" id="yourName" name="name" placeholder="您的名字">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="large-2 columns">
                                <label class="inline">您的邮箱</label>
                            </div>
                            <div class="large-10 columns">
                                <input type="text" id="yourEmail" name="email"  placeholder="我们会向这个邮箱回复您的邮件">
                            </div>
                        </div>
                        <label>要跟我们说的事？</label>
                        <textarea rows="4" name="content" placeholder="十分感谢您的关注和支持！"></textarea>
                        <div class="row center">
                            <button type="submit" class="radius button brandColor" id="contact-us-btn">&nbsp;提交&nbsp;</button>
                        </div>
                    </form>
                </div>
##                <div class="tabs-panel row small-up-2 medium-up-3 large-up-3" id="panel2">
##                    <div class="column center">
##                        <a href="mailto:wq@world-lace.com">
##                            <img src="http://placehold.it/200x200&amp;text=[person]">
##                            <div class="people-name">王琪</div>
##                            <div class="people-desc">
##                                企业家，时尚专业人士，在服装行业10余年工作经验，拥有Meingrace服饰品牌
##                            </div>
##                        </a>
##                    </div>
##                    <div class="column center">
##                        <a href="mailto:zy@world-lace.com">
##                            <img src="http://placehold.it/200x200&amp;text=[person]">
##                            <div class="people-name">张艳</div>
##                            <div class="people-desc">
##                                资本运营CEO, 材料系博士，在纺织行业10余年，专注新型面料，功能性纤维开发。
##                            </div>
##                        </a>
##                    </div>
##                    <div class="column center">
##                        <a href="mailto:wxx@world-lace.com" >
##                            <img src="http://placehold.it/200x200&amp;text=[person]">
##                            <div class="people-name">王茜璇</div>
##                            <div class="people-desc">
##                                90后，香港理工服装设计专业毕业，对时尚有敏锐嗅觉。后赴法国高商进修时尚管理，曾在巴黎银行负责趋势预测。
##                            </div>
##                        </a>
##                    </div>
##                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="large-3 columns">
            <h5>Map</h5>
            <!-- Clicking this placeholder fires the mapModal Reveal modal -->
            <p>
                <a data-open="mapModal"><img src="$!{imageUrlPrefix}/images/map-c.png"></a><br />
                <a data-open="mapModal">点击查看大图</a>
            </p>
            <p>
                中国北京市朝阳区霄云路36号国航大厦房间号1209，100027
                <br />
                Chaoyang District Xiaoyun RD. #36 Guohang BD. 1209, Beijing, China, 100027
            </p>
        </div>

        <div id="mapModal" class="reveal small" data-reveal>
            <h4>我们的位置</h4>
            <p><img src="$!{imageUrlPrefix}/images/mac-d.png"</p>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<!-- end of this page contents -->

<!-- start of footer-->
#parse("user/footer.vm")