#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="css/user/contact.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content margin-top-large" id="look-detail-page-content">
    <div class="row">
        <!-- Contact Details -->
        <div class="large-9 columns">
            <h3>联系我们</h3>
            <p>对于我们的产品感兴趣？有问题需要跟我们沟通？有意向加入我们？请使用下表给联系我们，我们会对<em>每一封</em>邮件进行恢复！谢谢您的支持。</p>
            <ul class="tabs" data-tabs id="contact-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">联系我们</a></li>
                <li class="tabs-title"><a href="#panel2">具体人员</a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="contact-tabs">
                <div class="tabs-panel is-active" id="panel1">
                    <form id="contact-us-form">
                        <div class="row collapse">
                            <div class="large-2 columns">
                                <label class="inline">名称</label>
                            </div>
                            <div class="large-10 columns">
                                <input type="text" id="yourName" name="name" placeholder="您的名字">
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="large-2 columns">
                                <label class="inline">您的邮箱</label>
                            </div>
                            <div class="large-10 columns">
                                <input type="text" id="yourEmail" name="email"  placeholder="我们会向这个邮箱回复您的邮件">
                            </div>
                        </div>
                        <label>要跟我们说的事？</label>
                        <textarea rows="4" name="content" placeholder="十分感谢您的关注和支持！"></textarea>
                        <button type="submit" class="radius button brandColor" id="contact-us-btn">提交</button>
                    </form>
                </div>
                <div class="tabs-panel row small-up-3 medium-up-4 large-up-5" id="panel2">
                    <div class="column"><a href="mailto:wmh@zaitaoyuan.com"><img src="http://placehold.it/200x200&amp;text=[person]">汪明浩</a></div>
                    <div class="column"><a href="mailto:ch@zaitaoyuan.com"><img src="http://placehold.it/200x200&amp;text=[person]">陈昊</a></div>
                    <div class="column"><a href="mailto:gty@zaitaoyuan.com"><img src="http://placehold.it/200x200&amp;text=[person]">顾天元</a></div>
                </div>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="large-3 columns">
            <h5>Map</h5>
            <!-- Clicking this placeholder fires the mapModal Reveal modal -->
            <p>
                <a data-open="mapModal"><img src="$!{imageUrlPrefix}/images/map.png"></a><br />
                <a data-open="mapModal">点击查看大图</a>
            </p>
            <p>
                中国北京市海淀区中关村2号<br />
                Haidian Disctrict ZhongGuanCun 2nd, Beijing, China, 100082
            </p>
        </div>

        <div id="mapModal" class="reveal small" data-reveal>
            <h4>我们的位置</h4>
            <p><img src="http://placehold.it/800x600" /></p>

            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
<!-- end of this page contents -->

<!-- start of footer-->
#parse("user/footer.vm")