<!-- footer -->
<section class="top-footer">
    <blockquote>
        "做中国最有良心的餐厨用品平台。"<cite>ZaiTaoYuan.com</cite>
    </blockquote>
</section>

<section class="bottom-footer">
    <div class="greyText margin-top-small">
        Copyright @ 2015, ZaiTaoYuan Co., Ltd. All rights Reserved.
    </div>
    <div class="greyText">京ICP备15043668号-1</div>
</section>

<!-- end of mobile header -->
</div>
</div>
</div>


<script src="$!{cssUrlPrefix}/script/vendor/jquery.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/foundation.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/unslider-min.js"></script>
<script>
    $(document).foundation();
    jQuery(document).ready(function($) {
        $('.banner-slider').unslider({
            autoplay: true,
            delay: 4000,
            keys: true,
            arrows: false
        });
    });
</script>
<script src="$!{cssUrlPrefix}/script/vendor/what-input.min.js"></script>
<script src="$!{cssUrlPrefix}/script/msgModal.js"></script>
<script src="$!{cssUrlPrefix}/script/user/common.js"></script>
</body>
</html>