<!-- footer -->
<section class="top-footer hide-for-small-only">
    <div class="row features">
        <div class="small-12 columns center">
            <div>用创新与美建立高品质的生活体验</div>
            <div>Create high quality life experience with innovation and beauty</div>
        </div>
    </div>
</section>

<section class="footer">
    <div class="row">
        <div class="small-12 medium-12 large-4 columns">
            <ul class="foot-logo">
                <img src="$!{imageUrlPrefix}/images/logo/logo-white-small.png" alt="桃源网公众号">
            </ul>
        </div>


        #if ($!{en})
            <div class="small-12 medium-6 large-5 columns">
                <p class="logo"><i class="fi-shield"></i> World Lace Fashion
                    <span class="about subheader">Email：service@world-lace.com</span>
                </p>
                <p class="footer-links">
                    <a href="/">Homepage</a>
                    <a href="#" class="unsupported-section">Topics</a>
                    <a href="#" class="unsupported-section">Q&As</a>
                    <a href="#">Company Intro</a>
                    <a href="/contact">Contact Us</a>
                </p>
                <p class="copywrite">Customer Service：400-820-8200</p>
                <p class="copywrite">世界蕾丝时尚（北京）科技发展有限公司，京ICP备16000451号-1</p>
                <p class="copywrite">COPYRIGHT © 2015-2019. All rights Reserved.</p>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <ul class="inline-list social">
                    <p class="about subheader">Wechat，follow us：</p>
                    <img src="$!{imageUrlPrefix}/images/user/qrcode-gongzhonghao.jpg" alt="桃源网公众号">
                </ul>
            </div>
        #else
            <div class="small-12 medium-6 large-5 columns">
                <p class="logo"><i class="fi-shield"></i> 世界蕾丝时尚
                    <span class="about subheader">邮箱：service@world-lace.com</span>
                </p>
                <p class="footer-links">
                    <a href="/">主页</a>
                    <a href="#" class="unsupported-section">专题</a>
                    <a href="#" class="unsupported-section">常见问题</a>
                    <a href="#">公司介绍</a>
                    <a href="/contact">联系我们</a>
                </p>
                <p class="copywrite">客服热线：400-820-8200</p>
                <p class="copywrite">世界蕾丝时尚（北京）科技发展有限公司，京ICP备16000451号-1</p>
                <p class="copywrite">COPYRIGHT © 2015-2019. All rights Reserved.</p>
            </div>
            <div class="small-12 medium-12 large-3 columns">
                <ul class="inline-list social">
                    <p class="about subheader">微信公众号，关注我们：</p>
                    <img src="$!{imageUrlPrefix}/images/user/qrcode-gongzhonghao.jpg" alt="桃源网公众号">
                </ul>
            </div>
        #end

    </div>
</section>

<!-- end of mobile header -->
</div>
</div>
</div>


<script src="$!{cssUrlPrefix}/script/vendor/foundation.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lightslider.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lightgallery.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lg-thumbnail.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/notyf.min.js"></script>
<script>
    $(document).foundation();
    jQuery(document).ready(function($) {
        var nav = $('.navbar'),
                doc = $(document),
                win = $(window);

        win.scroll(function() {
            if (doc.scrollTop() > 20) {
                nav.addClass('navbar-fixed-top');
                nav.addClass('scrolled');
            } else {
                nav.removeClass('navbar-fixed-top');
                nav.removeClass('scrolled');
            }
        });

        // Trigger the scroll listener on page load

        win.scroll();

        $('#banner-slider').lightSlider({
            adaptiveHeight:true,
            item:1,
            slideMargin:0,
            loop:true,
            auto: true,
            pause: 4000,
            controls: false,
            pauseOnHover: true,
            easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
            speed: 1000,
            responsive : [
                {
                    breakpoint:500,
                    settings: {
                        controls: false
                    }
                }
            ]
        });
        var verticalHeight = win.width() * 0.58 - 115;
        $('#lightSlider-s').lightSlider({
            gallery: true,
            verticalHeight:verticalHeight,
            vertical:true,
            vThumbWidth:80,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem:6,
            enableDrag: true,
            controls: false,
            auto: false,
            onBeforeSlide: function (el) {
                var detailImage = $(".detail-image-wrapper.active .detail-image");
                var detailImageBig = $(".detail-image-wrapper.active .detail-image-big");
                detailImage.attr("src", detailImage.data("url"));
                detailImageBig.attr("src", detailImageBig.data("url"));
            },
            responsive : [
                {
                    breakpoint:500,
                    settings: {
                        controls: false,
                        vertical:false,
                        verticalHeight: win.width() * 0.97,
                    }
                }
            ]
        });

        $('#lightSlider-sm').lightSlider({
            gallery: true,
            vertical:false,
            vThumbWidth:80,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem:6,
            enableDrag: true,
            controls: false,
            auto: false,
            onBeforeSlide: function (el) {
                var detailImage = $(".detail-image-wrapper.active .detail-image");
                var detailImageBig = $(".detail-image-wrapper.active .detail-image-big");
                detailImage.attr("src", detailImage.data("url"));
                detailImageBig.attr("src", detailImageBig.data("url"));
            }
        });

        $("#lightSlider-s .detail-image-wrapper .detail-image").show();
        $(".hide-before-js-ready").show();

        var detailImageWrapper = $(".lSSlideWrapper");
        var detailImageHeight = detailImageWrapper.height();
        var detailImageWidth = detailImageWrapper.width();
        var detailImageTop = detailImageWrapper.prop("offsetTop");
        var detailImageLeft = detailImageWrapper.prop("offsetLeft");

        $(".detail-image-cover").mouseenter(function(e) {
            var id = $(this).data("id");
            $("#detail-image-big-" + id).show();
        }).mouseleave(function() {
            var id = $(this).data("id");
            $("#detail-image-big-" + id).hide();
        }).mousemove(function(e) {
            var id = $(this).data("id");
            var relativeTop = e.pageY - detailImageTop;
            var relativeLeft = e.pageX - detailImageLeft;
            var bigImgHeight = $("#detail-image-big-" + id).height();
            var bigImgWidth = $("#detail-image-big-" + id).width();
            var absoluteTop = (detailImageHeight - bigImgHeight / bigImgWidth * 1000) * relativeTop / detailImageHeight;
            var absoluteLeft = (detailImageWidth - 1000) * relativeLeft / detailImageWidth;
            $("#detail-image-big-" + id).css({top: absoluteTop, left: absoluteLeft});
        });
    });
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    window._bd_share_config = {
        common : {
            bdText : '桃源网 - $!{skuItem.title}',
            bdDesc : '$!{skuItem.subTitle}',
            bdUrl : window.location.href,
            bdPic : '$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/0.jpg@!item-head'
        },
        share : [{
            "bdSize" : 16,
            "bdCustomStyle" : "javascript:void(0)"
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
    var $successModal = $("#successModal"),
        $successHdr = $("#successHdr"),
        $successMsg = $("#successMsg"),
        $failModal = $("#failModal"),
        $failHdr = $("#failHdr"),
        $failMsg = $("#failMsg");

    function presentSuccessModal(header, message) {
            $successHdr.html(header);
            $successMsg.html(message);
            $successModal.foundation("open");
    }
    function presentFailModal(header, message) {
            $failHdr.html(header);
            $failMsg.html(message);
            $failModal.foundation('open');
    }
    function hideSuccessModal() {
            $successModal.foundation("close");
    }
    function hideFailModal() {
            $failModal.foundation('close');
    }
    $('.aniimated-thumbnials').lightGallery({
        thumbnail: true,
        selector: '.review-img'
    });
</script>
<script src="$!{cssUrlPrefix}/script/vendor/what-input.min.js"></script>
<script src="$!{cssUrlPrefix}/script/user/common.js"></script>
</body>
</html>