#* @vtlvariable name="LOOK" type="java.lang.String" *#
#* @vtlvariable name="CATEGORY" type="java.lang.String" *#
#* @vtlvariable name="TOPIC" type="java.lang.String" *#
#* @vtlvariable name="ABOUT" type="java.lang.String" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
<!DOCTYPE html>
<html lang="en">

<!-- header start -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    #if ($!{pageType} == "LOOK_DETAIL")
        <title>$!{lookInfo.title}</title>
        <meta name="keywords" content="男装搭配，约会搭配，服装搭配，穿衣搭配，生活品质，颜色搭配，搭配服装技巧" />
        <meta name="description" content="$!{lookInfo.description}" />
    #else
        <title>蓝主角—男生的服装搭配顾问</title>
        <meta name="keywords" content="男装搭配，约会搭配，服装搭配，穿衣搭配，生活品质，颜色搭配，搭配服装技巧" />
        <meta name="description" content="男士蓝主角助力男士提升服饰及配件搭配品质，不止是时尚享受的获取，更多的是生活方式与自身价值的输出。我们有理由相信当好的剧本出现时，每位男士都将扮演好自己生活中的男主角。" />
    #end
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- style stuff -->
    <link type="image/x-icon" href="http://static.lanzhujue.com/image/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="css/user/style.css"/>
##    <link rel="stylesheet" href="http://static.lanzhujue.com/css/user/style.css"/>
    <link rel="stylesheet" href="http://static.lanzhujue.com/css/tool.css"/>
    <link rel="stylesheet" href="http://static.lanzhujue.com/css/foundation.min.css"/>
    <link rel="stylesheet" href="http://static.lanzhujue.com/css/foundation-icons.css"/>
    <link rel="stylesheet" href="http://static.lanzhujue.com/css/jquery-labelauty.css">

    <!-- js stuff -->
    <script src="http://static.lanzhujue.com/script/vendor/jquery.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?e8f34e3fd1fa08a41dc89b55f48835dc";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<!-- body start -->
<body id="body">

<!-- top bar start -->
<div class="off-canvas-wrap" data-offcanvas>
<div class="inner-wrap">

    <!-- left menu for mobile devices -->
    <div class="left-menu">
        <title>蓝主角</title>
        <meta name="description" content="蓝主角—男生的服装搭配顾问">
        <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
                <li><label class="first">蓝主角</label></li>
                <li><a href="/">搭配</a></li>
                <li><a href="/topic">专题</a></li>
                <li><a href="/about">关于我们</a></li>
            </ul>
        </aside>
        <nav class="tab-bar show-for-small">
            <section class="right-small">
                <a class="right-off-canvas-toggle menu-icon" href="#"><span style="margin-left:1rem;"></span></a>
            </section>
            <div class="tab-bar-section">
                <img src="http://static.lanzhujue.com/image/user/logo-black.png">
            </div>
        </nav>
    </div>

    <a class="exit-off-canvas"></a>

    <!-- bigger menu with centered logo -->
    <!-- bigger header -->
    <nav id="top-bar" class="top-menu-bar hide-for-small">
        <div id="top-bar-content">
            <span class="title-area">
                <a class="logo" href="/">
                    <img src="http://static.lanzhujue.com/image/user/logo-black.png" alt="LanZhuJue.com"/>
                </a>
            </span>
            <span class="title-area">
                <span>三分钟搞定男装搭配</span>
            </span>

            <div class="top-bar-section">
                <ul class="menu-section">
                    <li>
                        <div class="selected-sign $!{LOOK}">
                            <img src="http://static.lanzhujue.com/image/user/header/selected.png" alt=""/>
                        </div>
                        <a href="/" class="top-button">
                            <div class="menu-text">搭配</div>
                        </a>
                    </li>
                    <li>
                        <div class="selected-sign $!{TOPIC}">
                            <img src="http://static.lanzhujue.com/image/user/header/selected.png" alt=""/>
                        </div>
                        <a href="/topic" class="top-button">
                            <div class="menu-text">专题</div>
                        </a>
                    </li>
                    <li>
                        <div class="selected-sign $!{ABOUT}">
                            <img src="http://static.lanzhujue.com/image/user/header/selected.png" alt=""/>
                        </div>
                        <a href="/about" class="top-button unsupported-section">
                            <div class="menu-text">我们</div>
                        </a>
                    </li>

                    <li class="selected-sign drop-remove has-dropdown not-click higher-index">
                        <div class="selected-sign">
                            <img src="http://static.lanzhujue.com/image/user/header/selected.png" alt=""/>
                        </div>
                        <a href="/about" class="top-button unsupported-section">
                            <div class="menu-text">关注 & 分享</div>
                        </a>
                        <ul class="dropdown"><li class="title back js-generated">
                            <h5><a href="javascript:void(0)">Back</a></h5>
                            <li>
                                <a class="drop-remove drop-options" href="#">
                                    公众号 &nbsp;
                                    <img src="images/user/qrcode-gongzhonghao.jpg" alt="LanZhuJue.com"/>
                                </a>
                            </li>
                            <li>
                                <a class="drop-remove drop-options" href="#">
                                    微信分享 &nbsp;
                                    <img src="images/user/qrcode-home.png" alt="LanZhuJue.com"/>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav class="bottom-line"></nav>