#* @vtlvariable name="LOOK" type="java.lang.String" *#
#* @vtlvariable name="CATEGORY" type="java.lang.String" *#
#* @vtlvariable name="TOPIC" type="java.lang.String" *#
#* @vtlvariable name="ABOUT" type="java.lang.String" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
<!DOCTYPE html>
<html lang="en">

<!-- header start -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    #if ($!{pageType} == "LOOK_DETAIL")
        <title>$!{lookInfo.title}</title>
        <meta name="keywords" content="桃源网，高端大气上档次的餐厨用品专家" />
        <meta name="description" content="$!{lookInfo.description}" />
    #else
        <title>桃源网 - 首页</title>
        <meta name="keywords" content="桃源网，高端大气上档次的餐厨用品专家" />
        <meta name="description" content="桃源网，高端大气上档次的餐厨用品专家。" />
    #end
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- style stuff -->
    <link type="image/x-icon" href="$!{imageUrlPrefix}/images/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/user/header.css"/>
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/user/footer.css"/>
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/user/common.css"/>
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/tool.css"/>
    <link rel="stylesheet" href="/css/foundation-icons.css"/>
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/foundation.min.css" />
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/unslider.css">
    <link rel="stylesheet" href="$!{imageUrlPrefix}/css/unslider-dots.css">

</head>

<!-- body start -->
<body id="body">

<!-- top bar start -->
<div class="off-canvas-wrapper">
<div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
        <ul class="off-canvas-list">
            <li><label class="first">桃源</label></li>
            <li><a href="/">首页</a></li>
            <li><a href="/topic">品牌馆</a></li>
            <li><a href="/about">关于我们</a></li>
        </ul>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>

        <div class="superHeader hide-for-small-only">
            <div class="top-bar" id="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
##                        <li class="menu-text">有我相伴，家似桃源！</li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="has-submenu is-dropdown-submenu-parent opens-left">
                            <a href="#"><i class="fi-star"></i> 关注我们</a>

                            <ul class="submenu menu vertical" data-submenu>
                                <li>
                                    <img src="$!{imageUrlPrefix}/images/user/qrcode-gongzhonghao.jpg" alt="桃源网公众号">
                                </li>
                            </ul>
                        </li>
                        <li><a href="#"><i class="fi-shopping-cart"></i> 购物车</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu-wrapper clearfix">
            <div class="logo-wrapper float-left">
                <img src="$!{imageUrlPrefix}/images/user/logo3.png" alt="桃源网"/>
            </div>

            <div class="header-menu float-right hide-for-small-only">
                <ul class="menu align-right">
                    <li><a href="/">我们</a></li>
                    <li><a href="/topic">专题</a></li>
                    <li><a href="/">首页</a></li>
                </ul>
            </div>
        </div>

        <nav class="bottom-line"></nav>