#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#


#parse("user/header.vm")
<!-- end of header -->

<!-- some hidden infos -->
<div id="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content">

    <ul class="bxslider">
        <li><img src="images/slider/slider1.png" /></li>
        <li><img src="images/slider/slider1.png" /></li>
        <li><img src="images/slider/slider1.png" /></li>
        <li><img src="images/slider/slider1.png" /></li>
    </ul>

    <div class="item-list row" data-equalizer>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item1-1.jpg" alt="商品1图1"/>
            </div>
            <div class="item-description">
                藏蓝色立领 POLO
                <div>
                    ￥349
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item2-1.jpg" alt="商品2图1"/>
            </div>
            <div class="item-description">
                藏蓝色立领 POLO
                <div>
                    ￥349
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item4-1.jpg" alt="商品4图1"/>
            </div>
            <div class="item-description">
                藏蓝色立领 POLO
                <div>
                    ￥349
                </div>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item5-1.jpg" alt="商品5图1"/>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item6-1.jpg" alt="商品6图1"/>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item7-1.jpg" alt="商品7图1"/>
            </div>
        </div>
        <div class="large-4 medium-6 small-12 columns" data-equalizer-watch>
            <div class="item-image-wrapper">
                <img src="/images/items/item3-1.jpg" alt="商品3图1"/>
            </div>
        </div>
    </div>
</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script>
    $(document).ready(function(){
        $('.bxslider').bxSlider();
    });
</script>
<script src="script/home.js"></script>
#include("user/footer.vm")