<!-- footer -->
<!-- end of mobile header -->
</div>
</div>
</div>

<section class="footer">
##    <div class="row">
##        <div class="small-12 medium-12 large-4 columns">
##            <ul class="foot-logo">
##                <img src="$!{imageUrlPrefix}/images/logo/logo-white-small.png" alt="桃源网公众号">
##            </ul>
##        </div>
##
##        <div class="small-12 medium-6 large-5 columns">
##            <p class="logo"><i class="fi-shield"></i> 世界蕾丝
##                <span class="about subheader">邮箱：service@world-lace.com</span>
##            </p>
##            <p class="footer-links">
##                <a href="/">主页</a>
##                <a href="#" class="unsupported-section">专题</a>
##                <a href="#" class="unsupported-section">常见问题</a>
##                <a href="#">公司介绍</a>
##                <a href="#" class="unsupported-section">加入我们</a>
##                <a href="/contact">联系我们</a>
##            </p>
##            <p class="copywrite">客服热线：400-820-8200</p>
##            <p class="copywrite">世界蕾丝时尚（北京）科技发展有限公司，京ICP备16000451号-1</p>
##            <p class="copywrite">COPYRIGHT © 2015-2019. All rights Reserved.</p>
##        </div>
##        <div class="small-12 medium-12 large-3 columns">
##            <ul class="inline-list social">
##                <p class="about subheader">微信公众号，关注我们：</p>
##                <img src="$!{imageUrlPrefix}/images/user/qrcode-gongzhonghao.jpg" alt="桃源网公众号">
##            </ul>
##        </div>
##    </div>
    <div class="row">
        <div class="social-wrapper">
            <ul class="social-baloon">
                <li>
                    <a href="#" class="fg-weixin unsupported-section"  id="weixin"><i class="fa fa-fw fa-weixin"></i></a>
                </li>
                <li>
                    <a href="#" class="fg-facebook unsupported-section" id="facebook"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li class="">
                    <a href="#" class="fg-twitter unsupported-section" id="twitter"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" class="fg-google-plus unsupported-section"  id="linkedin"><i class="fa fa-fw fa-linkedin-square"></i></a>
                </li>
                <li>
                    <a href="#" class="fg-google-plus unsupported-section"  id="weibo"><i class="fa fa-fw fa-tencent-weibo"></i></a>
                </li>
            </ul>
        </div>
        <div class="right-align">
            #if ($!{en})
                <div class="copywrite">©2016 WorldLace Beijing</div>
                <div class="copywrite">京ICP备16000451号-1</div>
            #else
                <div class="copywrite">©2016 世界蕾丝时尚（北京）</div>
                <div class="copywrite">京ICP备16000451号-1</div>
            #end
        </div>
    </div>
</section>

<script src="$!{cssUrlPrefix}/script/vendor/foundation.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lightslider.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lightgallery.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/lg-thumbnail.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/notyf.min.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/classie.js"></script>
<script src="$!{cssUrlPrefix}/script/vendor/boxesFx.js"></script>
<script>
    new BoxesFx( document.getElementById( 'boxgallery' ) );
    $(document).foundation();
    jQuery(document).ready(function($) {
        function nextPage() {
            setTimeout(function(){
                $(".next").trigger("click");
                nextPage();
            }, 9000);
        }

        nextPage();
    });
    (function(){
        var bp = document.createElement('script');
        bp.src = '//push.zhanzhang.baidu.com/push.js';
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
    window._bd_share_config = {
        common : {
            bdText : '桃源网 - $!{skuItem.title}',
            bdDesc : '$!{skuItem.subTitle}',
            bdUrl : window.location.href,
            bdPic : '$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/0.jpg@!item-head'
        },
        share : [{
            "bdSize" : 16,
            "bdCustomStyle" : "javascript:void(0)"
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script src="$!{cssUrlPrefix}/script/vendor/what-input.min.js"></script>
<script src="$!{cssUrlPrefix}/script/user/common.js"></script>
</body>
</html>