#* @vtlvariable name="skuInfoList" type="java.util.List<nanshen.data.Sku.SkuItem>" *#
#* @vtlvariable name="pageType" type="nanshen.data.SystemUtil.PageType" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#

#parse("/user/home-header.vm")

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">$!{pageType}</div>
    <div id="is-login">$!{isLogin}</div>
</div>

<div class="home-center-title">
    <img src="$!{imageUrlPrefix}/images/logo/logo-white-small.png" alt="世界蕾丝时尚"/>
</div>

<div class="home-center-btn">
    <div>
        #if ($!{en})
            <a href="/list/" class="shop-now animBtn themeA">
##                <i class="fa fa-fw fa-hand-o-right fa-2x"></i>
                View in Store
##                <i class="fa fa-fw fa-hand-o-left fa-2x"></i>
            </a>
        #else
            <a href="/list/" class="shop-now animBtn themeA">
##                <i class="fa fa-fw fa-hand-o-right fa-2x"></i>
                点击查看
##                <i class="fa fa-fw fa-hand-o-left fa-2x"></i>
            </a>
        #end
    </div>
</div>

<div class="container">
    <div id="boxgallery" class="boxgallery" data-effect="effect-2">
        <div class="panel"><img src="$!{imageUrlPrefix}/images/cover/cover5.jpg" alt="Image 1"/></div>
        <div class="panel"><img src="$!{imageUrlPrefix}/images/cover/cover3.jpg" alt="Image 3"/></div>
        <div class="panel"><img src="$!{imageUrlPrefix}/images/cover/cover4.jpg" alt="Image 4"/></div>
    </div>
</div>

<!-- start of footer-->
#parse("user/home-footer.vm")