#* @vtlvariable name="isLogin" type="java.lang.Boolean" *#
#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.Sku.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="$!{cssUrlPrefix}/css/user/itemDetail.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
    <div id="is-login">$!{isLogin}</div>
</div>

<!-- page contents -->
<div class="page-content margin-top-small" id="look-detail-page-content">
    <div class="row">

        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="/" class="brandColorText"><i class="fi-home"> </i>首页列表</a></li>
                <li>
                    $!{skuItem.title}
                </li>
            </ul>
        </nav>

        <div class="large-6 medium-7 small-12 columns">
            <div class="item-slider">
                <ul id="lightSlider-s">
                    #foreach ($imgId in [0..$skuItem.getImgCount()])
                        <li class="detail-image-wrapper" data-thumb="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-head-thumb">
                            <img class="detail-image detail-image-h$imgId" data-id="h$imgId" src="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-head-2" alt="${skuItem.title}"/>
                            <img class="detail-image-big" id="detail-image-big-h$imgId" src="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-head-2" alt="${skuItem.title}"/>
                            <div class="detail-image-cover" data-id="h$imgId" ></div>
                        </li>
                    #end
                    #foreach ($imgId in [0..$skuItem.getContentImgCount()])
                        <li class="detail-image-wrapper" data-thumb="$!{imageUrlPrefix}/images/item/itemDetail/${skuItem.getId()}/${imgId}.jpg@!item-head-thumb">
                            <img class="detail-image" data-id="d$imgId" src="$!{imageUrlPrefix}/images/item/itemDetail/${skuItem.getId()}/${imgId}.jpg@!item-head-2" alt="${skuItem.title}"/>
                            <img class="detail-image-big" id="detail-image-big-d$imgId" src="$!{imageUrlPrefix}/images/item/itemDetail/${skuItem.getId()}/${imgId}.jpg@!item-head-2" alt="${skuItem.title}"/>
                            <div class="detail-image-cover" data-id="d$imgId" ></div>
                        </li>
                    #end
                </ul>
            </div>
        </div>

        <div class="large-6 medium-5 small-12 columns">
            <div class="detail-description text-left">
                <div class="clearfix">
                    <div class="float-left">
                        <h3 class="item-detail-title">$!{skuItem.title}</h3>
                        <div class="item-detail-subtitle">$!{skuItem.subTitle}</div>
                    </div>
                    <div class="float-right">
                        <div class="bdsharebuttonbox" data-tag="share_1">
                            <button class="hollow button hide-for-small-only" href="#">
                                <a data-cmd="weixin"><i class="fi-share"> </i>&nbsp;分享商品&nbsp;</a>
                            </button>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="clearfix">
##                    <div class="float-left">
##                        <span class="success label"><i class="fi-like"> </i>全站包邮</span>
##                        <span class="alert label"><i class="fi-burst-sale"> </i>正品保证</span>
##                        <span class="warning label"><i class="fi-alert"> </i>破碎补发</span>
##                    </div>
                    <div class="price-wrapper float-left">
                        <span class="price-before">￥$!{skuItem.displayOriginPrice}</span>
                        <span class="price-after"><span class="rmb-sign">￥</span>$!{skuItem.displayPrice}</span>
                    </div>
                    <div class="float-right">
                        <span class="user-review-star">
                            <span class="star-1">★</span>
                            <span class="star-2">★</span>
                            <span class="star-3">★</span>
                            <span class="star-4">★</span>
                            <span class="star-5">★</span>
                        </span>
                        <span class="user-review-cnt">&nbsp; 4.8（1219个评价）</span>
                    </div>
                </div>

                <div class="margin-top-small item-description">
                    <p>$!{skuItem.description}</p>
                </div>

                #if ("$!{skuItem.getSkuDetailList()}" != "" && $!{skuItem.getSkuDetailList().size()} > 1)
                    <div class="option-button-wrapper margin-top-small clearfix">
                        #foreach ($sku in $skuItem.getSkuDetailList())
                            <button class="small hollow option button" id="option-$sku.optionId" href="#" data-origin="$sku.displayOriginPrice" data-now="$sku.displayPrice"
                                    data-optionId="$sku.optionId" data-sku-id="$sku.id">$sku.option1</button>
                        #end
                    </div>
                #end

                <hr/>

                <div class="margin-top-small clearfix">
                    <span class="float-left">
                        <i class="fi-check greenText"> </i>有货，包邮（<span data-tooltip aria-haspopup="true" class="has-tip" title="新疆、西藏，以及一些偏远地区需要补交少量运费差价"><i class="fi-alert darkGreyText"> </i>少数地区除外</span>）
                    </span>
                    <span class="float-right">
                        月销售<span class="redText"> 35 </span>套
                    </span>
                </div>

                <div class="buy-button-wrapper margin-top clearfix">
                    <div class="float-right">
##                        <div class="bdsharebuttonbox" data-tag="share_1" style="float:left">
##                            <button class="secondary hollow button hide-for-small-only" href="#">
##                                <a data-cmd="weixin"><i class="fi-share"> </i>&nbsp;分享商品&nbsp;</a>
##                            </button>
##                        </div>
                        <button class="alert button add-to-cart" href="#" data-sku-id="$!{skuItem.getSkuDetailList().get(0).id}"
                                data-count="1"><i class="fi-shopping-cart"> </i>&nbsp;加入购物车&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"></div>

        <div class="detail-description">
            <ul class="tabs" data-tabs id="detail-tabs">
                <li class="tabs-title detail-tab is-active">
                    <a href="#product-info" aria-selected="true" class="brandColorText">
                        <i class="fi-info"></i>
                        <div>产品信息</div>
                    </a>
                </li>
                <li class="tabs-title detail-tab middle-tab">
                    <a href="#comments" class="brandColorText">
                        <i class="fi-star"></i>
                        <div>用户 <span class="redText">1219</span> 评测</div>
                    </a>
                </li>
                <li class="tabs-title detail-tab">
                    <a href="#notes" class="brandColorText">
                        <i class="fi-lightbulb"></i>
                        <div>购买说明</div>
                    </a>
                </li>
            </ul>

            <div class="tabs-content" data-tabs-content="detail-tabs">
                <div class="tabs-panel is-active row" id="product-info">
                    <div class="small-12 medium-6 column">
                        <div class="detail-title">特点</div>
                        <ul>
                            <li>按压式开关，最高24小时保温效果  </li>
                            <li>丹麦原装进口，北欧设计师品牌 </li>
                            <li>双层保温壶，玻璃内胆</li>
                            <li>不适用于洗碗机</li>
                        </ul>
                    </div>
                    <div class="small-12 medium-6 column">
                        <div class="detail-title">产品参数</div>
                        <ul>
                            <li>材质：无双酚A塑料（BPA-free），玻璃</li>
                            <li>规格：高28.5cm  底径17cm</li>
                            <li>容量：1升</li>
                        </ul>
                    </div>

                    <div class="small-12 column product-artical">
                        <p>
                            rosendahl成立于1984年，总部位于丹麦哥本哈根，一流的产品品质加上出色的设计思路，让其跻身于世纪经典品牌行列。聪明的按压式瓶盖设计，只需轻用拇指按压，就可单手控制瓶口的开关；环保的外涂层纯银玻璃内胆，对人体无任何伤害，易于保持食物的原味；保温时间长；内层附加绝缘材料，让水壶维持轻盈的重量，同时防震、耐摔；防侧漏壶嘴，用以防止滴漏；特殊的表面处理，不易刮花，而且耐脏，光滑及舒适感强；易清洗，内胆易拆换。
                        </p>

                        <p>
                            全新的GRAND CRU保温壶，清爽的线条，人性化的造型和顺滑的表面，直觉让人联想到穿上彩衣，爱漂亮的小企鹅。据说，企鹅之所以能在南极安家落户是因为它特殊的羽衣，不但海水难以浸透，就是气温在零下近百摄氏度，也休想攻破它保持温度的防线。ROSENDAHL设计师从企鹅的特殊保暖功能获取灵感，看似简洁的外形，却让人眼前一亮。舒心的设计，过硬的保温功能，让人们用得舒心、放心、省心。
                        </p>
                    </div>
##                    #foreach ($imgId in [0..$skuItem.getContentImgCount()])
##                        <img src="$!{imageUrlPrefix}/images/item/itemDetail/${skuItem.getId()}/${imgId}.jpg@!item-detail" alt="${skuItem.title}"/>
##                    #end
                </div>

                <div class="tabs-panel row" id="comments">
                    <div class="small-12 column">
                        <div class="detail-title">综合评分</div>
                        <div class="rating rating-4-half">
                            <i class="star-1">★</i>
                            <i class="star-2">★</i>
                            <i class="star-3">★</i>
                            <i class="star-4">★</i>
                            <i class="star-5">★</i>
                            <span class="user-">4.5</span>
                        </div>
                    </div>

                    <div class="small-12 column">
                        <div class="detail-title">超级体验馆计划</div>
                        <ul>
                            <li>用户上传使用感受过后，便会自动加入我们的超级体验官计划。我们网站后续上线的每个产品都会在上线前，在超级体验官中挑选几位对新产品进行免费试用。</li>
                            <li>显示预购时，根据国内库存情况我们会有专人在48小时内通过邮件与你联系，确定交货时间</li>
                        </ul>
                    </div>
                    <div class="small-12 column aniimated-thumbnials">
                        <div class="detail-title">用户评分</div>

                        #if ("$!{skuItem.getCustomerReviewList()}" != "" && $!{skuItem.getCustomerReviewList().size()} > 0)
                        <div class="row">
                            #foreach ($customerReview in $skuItem.getCustomerReviewList())
                                <div class="small-1 column user-review-info">
                                    <img src="/images/user/head.jpg" alt=""/>
                                    <span>$customerReview.username</span>
                                    <span>$customerReview.convertedCreateTime</span>
                                </div>
                                <div class="small-11 column">
                                    <div>
                                        $customerReview.customerReviewDetail.content
                                    </div>

                                    <div>
                                        #foreach ($img in $customerReview.getCustomerReviewImgList())
                                            <a href="$!{imageUrlPrefix}/$img.imgKey" class="review-img">
                                                <img src="$!{imageUrlPrefix}/$img.imgKey" />
                                            </a>
                                        #end
                                    </div>
                                </div>
                            #end
                        </div>
                        #else
                        <div class="row">
                            暂无用户评分
                        </div>
                        #end

                        #if ("$!{skuItem.getCustomerReviewList()}" != "" && $!{skuItem.getCustomerReviewList().size()} > 0)
                        <div class="row">
                            #foreach ($customerReview in $skuItem.getCustomerReviewList())
                                <div class="small-1 column user-review-info">
                                    <img src="/images/user/head.jpg" alt=""/>
                                    <span>$customerReview.username</span>
                                    <span>$customerReview.convertedCreateTime</span>
                                </div>
                                <div class="small-11 column">
                                    <div>
                                        $customerReview.customerReviewDetail.content
                                    </div>

                                    <div>
                                        #foreach ($img in $customerReview.getCustomerReviewImgList())
                                            <a href="$!{imageUrlPrefix}/$img.imgKey" class="review-img">
                                                <img src="$!{imageUrlPrefix}/$img.imgKey" />
                                            </a>
                                        #end
                                        #foreach ($img in $customerReview.getCustomerReviewImgList())
                                            <a href="$!{imageUrlPrefix}/$img.imgKey" class="review-img">
                                                <img src="$!{imageUrlPrefix}/$img.imgKey" />
                                            </a>
                                        #end
                                    </div>
                                </div>
                            #end
                        </div>
                        #end
                    </div>
                </div>

                <div class="tabs-panel row" id="notes">
                    <div class="small-12 medium-6 column">
                        <div class="detail-title">发货时间</div>
                        <ul>
                            <li>显示有货时，发货时间24小时之内，极少数时间可能会延长到48小时之内</li>
                            <li>显示预购时，根据国内库存情况我们会有专人在48小时内通过邮件与你联系，确定交货时间</li>
                        </ul>
                    </div>
                    <div class="small-12 medium-6 column">
                        <div class="detail-title">邮费说明</div>
                        <ul>
                            <li>桃源全站全国包邮（极个别地区除外，地区包括：西藏北部等，如有需要，请联系客服购买）</li>
                        </ul>
                    </div>
                    <div class="small-12 medium-6 column">
                        <div class="detail-title">包装说明</div>
                        <ul>
                            <li>我们使用精选的环保纸盒包装</li>
                            <li>可以联系客服，在包装中添加自定义祝福，送给你爱的人</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript">
    var jiathis_config = {
        summary:"",
        shortUrl:false,
        hideMore:false,
        data_track_clickback:'true'
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2070144" charset="utf-8"></script>
<script type="text/javascript" src="$!{cssUrlPrefix}/script/user/item-detail.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
#parse("user/footer.vm")