#* @vtlvariable name="isLogin" type="java.lang.Boolean" *#
#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.Sku.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="$!{cssUrlPrefix}/css/user/itemDetail.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
    <div id="is-login">$!{isLogin}</div>
</div>

<nav class="breadcrumb-wrapper margin-top-small">
    <ul class="breadcrumbs">
        #if ($!{en})
        <li><a href="/">Home</a></li>
        <li class="disabled"><a href="/list">BOUTIQUE ONLINE</a></li>
        <li><a href="/list">IT'LACE</a></li>
        <li>$!{skuItem.title}</li>
        #else
        <li><a href="/">首页</a></li>
        <li class="disabled"><a href="/list">线上精品店</a></li>
        <li><a href="/list">IT'LACE</a></li>
        <li>$!{skuItem.title}</li>
        #end
    </ul>
</nav>

<!-- page contents -->
<div class="page-content margin-top-small" id="look-detail-page-content">
    <div class="row">

        <div class="large-7 medium-7 small-12 columns">
            <div class="item-slider lightSlider-s hide-for-small-only">
                <ul id="lightSlider-s" class="hide-for-small-only">
                    #foreach ($imgId in [1..$skuItem.getImgCount()])
                        <li class="detail-image-wrapper" data-thumb="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail-thumb">
                            <img class="detail-image detail-image-h$imgId" data-id="h$imgId" data-url="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail"
                                 src="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail" alt="${skuItem.title}"/>
                            <img class="detail-image-big" id="detail-image-big-h$imgId" data-url="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail"
                                 src="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail" alt="${skuItem.title}"/>
                            <div class="detail-image-cover" data-id="h$imgId" ></div>
                        </li>
                    #end
                </ul>
            </div>
            <div class="item-slider lightSlider-sm show-for-small-only">
                <ul id="lightSlider-sm" class="show-for-small-only">
                    #foreach ($imgId in [1..$skuItem.getImgCount()])
                        <li class="detail-image-wrapper" data-thumb="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail-thumb">
                            <img class="detail-image detail-image-h$imgId" data-id="h$imgId" data-url="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail"
                                 src="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail" alt="${skuItem.title}"/>
                            <img class="detail-image-big" id="detail-image-big-h$imgId" data-url="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail"
                                 src="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/${imgId}.jpg?x-oss-process=style/item-detail" alt="${skuItem.title}"/>
                            <div class="detail-image-cover" data-id="h$imgId" ></div>
                        </li>
                    #end
                </ul>
            </div>
        </div>

        <div class="large-5 medium-5 small-12 columns">
            <div class="detail-description text-left">
                <div class="clearfix">
                    <div class="center">
                        <h3 class="item-detail-title">$!{skuItem.title}</h3>
                    </div>
##                    <div class="float-right">
##                        <div class="bdsharebuttonbox" data-tag="share_1">
##                            <button class="hollow button hide-for-small-only" href="#">
##                                <a data-cmd="weixin"><i class="fi-share"> </i>&nbsp;Share&nbsp;</a>
##                            </button>
##                        </div>
##                    </div>
                </div>

                <hr/>

                <div class="clearfix">
##                    <div class="float-left">
##                        <span class="uccess label"><i class="fi-like"> </i>全站包邮</span>
##                        <span class="alert label"><i class="fi-burst-sale"> </i>正品保证</span>
##                        <span class="warning label"><i class="fi-alert"> </i>破碎补发</span>
##                    </div>
                    <div class="price-wrapper center">
                        <span class="price-after"><span class="rmb-sign">￥</span>$!{skuItem.displayPrice}</span>
                        <span class="price-before">￥$!{skuItem.displayOriginPrice}</span>
                    </div>
                </div>

                <div class="buy-button-wrapper margin-top clearfix">
                    <div class="center">
                        <button class="add-to-cart button" href="#" data-sku-id="$!{skuItem.getSkuDetailList().get(0).id}"
                                data-count="1" data-url="$!{imageUrlPrefix}/images/sku/${skuItem.getId()}/1.jpg?x-oss-process=style/item-detail-thumb"><i class="fi-shopping-cart"> </i>

                            #if ($!{en})
                                &nbsp;Add to Cart&nbsp;
                            #else
                                加到购物车
                            #end
                        </button>
                    </div>
                </div>

                <div class="wish-button-wrapper clearfix">
                    <div class="center">
                        <button class="add-to-wish button" href="#" data-sku-id="$!{skuItem.getSkuDetailList().get(0).id}">
                            #if ($!{en})
                                Add to My Wishlist
                            #else
                                加入心愿单
                            #end
                        </button>
                        <img src="$!{imageUrlPrefix}/images/icon/heart-red.png" class="heart-red"/>
                    </div>
                </div>

                <div class="margin-top-small item-description">
##                    <p>$!{skuItem.description}</p>
                    <p>
                        Sandro sleeveless dress with round neckline. Dual fabric. The bodice is in lace with embroidered effects. Frills at the hem of the dress. Fastened with a zip and button at the back. Ideal for evenings out. Model is wearing a size 1.
                    </p>
                </div>

##                #if ("$!{skuItem.getSkuDetailList()}" != "" && $!{skuItem.getSkuDetailList().size()} > 1)
##                    <div class="option-button-wrapper clearfix">
##                        #foreach ($sku in $skuItem.getSkuDetailList())
##                            <button class="small hollow option button" id="option-$sku.optionId" href="#" data-origin="$sku.displayOriginPrice" data-now="$sku.displayPrice"
##                                    data-option-id="$sku.optionId" data-item-id="$skuItem.id" data-sku-id="$sku.id">$sku.option1</button>
##                            <img class="hide" src="http://image-cdn.zaitaoyuan.com/images/item/itemOption/${skuItem.id}/${sku.optionId}.jpg@!item-head-thumb-1" alt=""/>
##                        #end
##                    </div>
##                #end

                <hr/>

                <div class="margin-top-small clearfix">
                    <span class="float-left">
                        #if ($!{en})
                            <i class="fi-check greenText"> </i>Free Shipping（<span data-tooltip aria-haspopup="true" class="has-tip" title="Except for Xinjiang and Xizang"><i class="fi-alert darkGreyText"> </i>for most part of china</span>）
                        #else
                            <i class="fi-check greenText"> </i>全场包邮（<span data-tooltip aria-haspopup="true" class="has-tip" title="新疆、西藏，以及一些偏远地区需要补交少量运费差价"><i class="fi-alert darkGreyText"> </i>除少数地区</span>）
                        #end
                    </span>
                </div>

                <div class="margin-top-small clearfix">
                    <span class="float-right">
                        <a href="#" class="unsupported-section"><img src="/images/icon/wechat.png" alt="IT'LACE" style="width: 3rem"/></a>
                        <a href="#" class="unsupported-section"><img src="/images/icon/google.png" alt="IT'LACE" style="width: 3rem"/></a>
                        <a href="#" class="unsupported-section"><img src="/images/icon/twitter.png" alt="IT'LACE" style="width: 3rem"/></a>
                        <a href="#" class="unsupported-section"><img src="/images/icon/facebook.png" alt="IT'LACE" style="width: 3rem"/></a>
                    </span>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript">
    var jiathis_config = {
        summary:"",
        shortUrl:false,
        hideMore:false,
        data_track_clickback:'true'
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2070144" charset="utf-8"></script>
<script type="text/javascript" src="$!{cssUrlPrefix}/script/user/item-detail.js" charset="utf-8"></script>
<script type="text/javascript" src="$!{cssUrlPrefix}/script/vendor/jquery.fly.min.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
#parse("user/footer.vm")