#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuInfo" type="nanshen.data.SkuInfo" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="css/user/itemDetail.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content margin-top-small" id="look-detail-page-content">
    <div class="row">

        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="/" class="brandColorText">自营列表</a></li>
                <li>
                    <span class="show-for-sr">餐具: </span> 高档简约家用套装
                </li>
            </ul>
        </nav>

        <div class="large-6 medium-6 small-12 columns detail-image-slider">
            <div class="banner-slider">
                <ul>
                    #foreach ($imgId in [0..$skuInfo.getImgCount()])
                        <li>
                            <img src="$!{imageUrlPrefix}/images/item/itemHead/${skuInfo.getId()}/${imgId}.jpg" alt=""/>
                        </li>
                    #end
                </ul>
            </div>
        </div>

        <div class="large-6 medium-6 small-12 columns">
            <div class="detail-description text-left">
                <div class="clearfix">
                    <div class="float-left">
                        <h3 class="greyText"><span style="color:#454545;">$!{skuInfo.title}</span></h3>
                        <div class="redText">$!{skuInfo.subTitle}</div>
                    </div>
                </div>

                <hr class="hidden-for-small-down"/>

                <div class="clearfix">
                    <div class="float-left">
                        <span class="success label round"><i class="fi-like"> </i>全站包邮</span>
                        <span class="alert label"><i class="fi-burst-sale"> </i>正品保证</span>
                        <span class="warning label"><i class="fi-alert"> </i>破碎补发</span>
                    </div>
                    <div class="price-wrapper float-right">
                        <h4 class="brandColorText">
                            <span class="price-before">￥$!{skuInfo.displayOriginPrice}</span>
                            <span class="price-after">￥$!{skuInfo.displayPrice}</span>
                        </h4>
                    </div>
                </div>

                <div class="margin-top-small greyText">
                    <p>$!{skuInfo.description}</p>
                </div>

                #if ("$!{skuInfo.getSkuDetailList()}" != "" && $!{skuInfo.getSkuDetailList().size()} > 1)
                <div class="option-button-wrapper margin-top clearfix">
                    #foreach ($sku in $skuInfo.getSkuDetailList())
                    <button class="small hollow option button" href="#">$sku.option1</button>
                    #end
                </div>
                #end

                <div class="buy-button-wrapper margin-top clearfix">
                    <div class="float-right">
                        <button class="secondary hollow button" href="#"><i class="fi-star"> </i>&nbsp;分享商品&nbsp;</button>
                        <button class="alert button" href="#"><i class="fi-shopping-cart"> </i>&nbsp;加入购物车&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"></div>

        <div class="detail-description">
            <ul class="tabs" data-tabs id="detail-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true" class="brandColorText">商品详情</a></li>
                <li class="tabs-title"><a href="#panel2" class="brandColorText">用户评论</a></li>
                <li class="tabs-title"><a href="#panel3" class="brandColorText">下单必读</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="detail-tabs">
                <div class="tabs-panel is-active row" id="panel1">
                    <table class="scroll">
                        <thead>
                            <tr>
                                <th width="20%">品牌</th>
                                <th width="20%">材质</th>
                                <th width="20%">材质详情</th>
                                <th width="20%">重量</th>
                            </tr>
                        </thead>
                        <tbody>
                            #if ("$!{skuInfo.getSkuDetailList()}" != "" && $!{skuInfo.getSkuDetailList().size()} >= 1)
                            #set ($sku = $skuInfo.getSkuDetailList().get(0))
                            <tr>
                                <td>$!{sku.brand}</td>
                                <td>$!{sku.materialType.desc}</td>
                                <td>$!{sku.materialDetailType.desc}</td>
                                <td>$!{sku.weight}克</td>
                            </tr>
                            #end
                        </tbody>
                    </table>

                    #foreach ($imgId in [0..$skuInfo.getContentImgCount()])
                        <img src="$!{imageUrlPrefix}/images/item/itemDetail/${skuInfo.getId()}/${imgId}.jpg" alt=""/>
                        <p>&nbsp;</p>
                    #end
                </div>

                <div class="tabs-panel" id="panel2">
                    <div class="row">
                        <div class="large-3 columns">
                            User Information
                        </div>
                        <div class="large-9 columns">
                            User Comments
                        </div>
                    </div>
                </div>

                <div class="tabs-panel" id="panel3">
                    <div class="row">
                        <div class="margin-top-small">
                            <p>$!{skuInfo.description}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript">
    var jiathis_config = {
        summary:"",
        shortUrl:false,
        hideMore:false,
        data_track_clickback:'true'
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2070144" charset="utf-8"></script>
<!-- JiaThis Button END -->
#parse("user/footer.vm")