#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="css/user/itemDetail.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- page contents -->
<div class="page-content margin-top-small" id="look-detail-page-content">
    <div class="row">

        <nav aria-label="You are here:" role="navigation">
            <ul class="breadcrumbs">
                <li><a href="/" class="brandColorText">首页列表</a></li>
                <li>
                    $!{skuItem.title}
                </li>
            </ul>
        </nav>

        <div class="large-6 medium-6 small-12 columns">
            <div class="item-slider">
                <ul id="lightSlider">
                #foreach ($imgId in [0..$skuItem.getImgCount()])
                    <li data-thumb="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-detail-s">
                        <img src="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-head" alt="${skuItem.title}"/>
                    </li>
                #end
                </ul>
                <ul id="lightSlider-s">
                    #foreach ($imgId in [0..$skuItem.getImgCount()])
                        <li data-thumb="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-detail-s">
                            <img src="$!{imageUrlPrefix}/images/item/itemHead/${skuItem.getId()}/${imgId}.jpg@!item-head" alt="${skuItem.title}"/>
                        </li>
                    #end
                </ul>
            </div>
        </div>

        <div class="large-6 medium-6 small-12 columns">
            <div class="detail-description text-left">
                <div class="clearfix">
                    <div class="float-left">
                        <h3 class="greyText"><span style="color:#454545;">$!{skuItem.title}</span></h3>
                        <div class="redText">$!{skuItem.subTitle}</div>
                    </div>
                    <a href="#" class="contain-icon icon-hook float-right">
                        <!--Begin Third Favorite Icon-->
                        <svg class="heart-icon heart-icon-3" version="1.1" width="2rem" height="2rem" viewBox="0 0 90.65 85.04">
                            <path class="heart-3" fill="none" stroke="#FFFFFF" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
      M45.137,23.041c4.912-24.596,40.457-27.775,42.128-0.435c1.398,22.88-21.333,40.717-42.128,50.522 M45.137,23.041
      C40.225-1.555,5.057-4.734,3.387,22.606c-1.398,22.88,20.955,40.717,41.75,50.522"></path>
                        </svg>
                        <div>心水</div>
                    </a>
                </div>

                <hr class="hidden-for-small-down"/>

                <div class="clearfix">
                    <div class="float-left">
                        <span class="success label round"><i class="fi-like"> </i>全站包邮</span>
                        <span class="alert label"><i class="fi-burst-sale"> </i>正品保证</span>
                        <span class="warning label"><i class="fi-alert"> </i>破碎补发</span>
                    </div>
                    <div class="price-wrapper float-right">
                        <h4 class="brandColorText">
                            <span class="price-before">￥$!{skuItem.displayOriginPrice}</span>
                            <span class="price-after">￥$!{skuItem.displayPrice}</span>
                        </h4>
                    </div>
                </div>

                <div class="margin-top-small greyText">
                    <p>$!{skuItem.description}</p>
                </div>

                #if ("$!{skuItem.getSkuDetailList()}" != "" && $!{skuItem.getSkuDetailList().size()} > 1)
                <div class="option-button-wrapper margin-top clearfix">
                    #foreach ($sku in $skuItem.getSkuDetailList())
                    <button class="small hollow option button" id="option-$sku.optionId" href="#" data-origin="$sku.displayOriginPrice" data-now="$sku.displayPrice"
                            data-optionId="$sku.optionId" data-sku-id="$sku.id">$sku.option1</button>
                    #end
                </div>
                #end

                <div class="buy-button-wrapper margin-top clearfix">
                    <div class="float-right">
                        <div class="bdsharebuttonbox" data-tag="share_1" style="float:left">
                            <button class="secondary hollow button hide-for-small-only" href="#">
                                <a data-cmd="weixin"><i class="fi-share"> </i>&nbsp;分享商品&nbsp;</a>
                            </button>
                        </div>
                        <button class="alert button add-to-cart" href="#" data-sku-id="$!{skuItem.getSkuDetailList().get(0).id}"
                                data-count="1"><i class="fi-shopping-cart"> </i>&nbsp;加入购物车&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"></div>

        <div class="detail-description">
            <ul class="tabs" data-tabs id="detail-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true" class="brandColorText">商品详情</a></li>
##                <li class="tabs-title"><a href="#panel2" class="brandColorText">用户评论</a></li>
                <li class="tabs-title"><a href="#panel3" class="brandColorText">下单必读</a></li>
            </ul>

            <div class="tabs-content" data-tabs-content="detail-tabs">
                <div class="tabs-panel is-active row" id="panel1">
                    <table class="scroll">
                        <thead>
                            <tr>
                                <th width="20%">品牌</th>
                                <th width="20%">材质</th>
                                <th width="20%">材质详情</th>
                                <th width="20%">重量</th>
                            </tr>
                        </thead>
                        <tbody>
                            #if ("$!{skuItem.getSkuDetailList()}" != "" && $!{skuItem.getSkuDetailList().size()} >= 1)
                            #set ($sku = $skuItem.getSkuDetailList().get(0))
                            <tr>
                                <td>$!{sku.brand}</td>
                                <td>$!{sku.materialType.desc}</td>
                                <td>$!{sku.materialDetailType.desc}</td>
                                <td>$!{sku.weight}克</td>
                            </tr>
                            #end
                        </tbody>
                    </table>

                    #foreach ($imgId in [0..$skuItem.getContentImgCount()])
                        <img src="$!{imageUrlPrefix}/images/item/itemDetail/${skuItem.getId()}/${imgId}.jpg@!item-detail" alt="${skuItem.title}"/>
                        <p>&nbsp;</p>
                    #end
                </div>

##                <div class="tabs-panel" id="panel2">
##                    <div class="row">
##                        <div class="large-3 columns">
##                            User Information
##                        </div>
##                        <div class="large-9 columns">
##                            User Comments
##                        </div>
##                    </div>
##                </div>

                <div class="tabs-panel" id="panel3">
                    <div class="row">
                        <div class="margin-top-small">
                            <h5>下单请注意：</h5>
                            <p>$!{skuItem.notice}</p>
                        </div>
                        <div class="margin-top">
                            <h5>产品特点：</h5>
                            <p>$!{skuItem.description}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript">
    var jiathis_config = {
        summary:"",
        shortUrl:false,
        hideMore:false,
        data_track_clickback:'true'
    }
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2070144" charset="utf-8"></script>
<!-- JiaThis Button END -->
#parse("user/footer.vm")