#* @vtlvariable name="skuInfoList" type="java.util.List<nanshen.data.Sku.SkuItem>" *#
#* @velocityproperties path="/WEB-INF/velocity" *#
#* @vtlvariable name="pageType" type="nanshen.data.SystemUtil.PageType" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#

#parse("user/header.vm")
<link rel="stylesheet" href="$!{cssUrlPrefix}/css/user/list.css"/>

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">$!{pageType}</div>
    <div id="is-login">$!{isLogin}</div>
</div>

<div class="list-title">
    <div class="list-title-text">
        DRESSES ($skuInfoList.size())
    </div>
</div>

<nav class="breadcrumb-wrapper">
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="disabled"><a href="/list">BOUTIQUE ONLINE</a></li>
        <li>IT'LACE</li>
    </ul>
</nav>

<!-- page contents -->
<div class="page-content">

##    <div class="row list-tagger clearfix">
##        <div>
##            <i class="fi-sound"> </i>
##            限时新品
##            <span class="english-note">Limited New Collection</span>
##        </div>
##    </div>

    <div class="item-list margin-top-tiny">
        <ul class="row large-up-4 medium-up-3 small-up-2">
            #foreach ($skuInfo in $skuInfoList)
                #if ($velocityCount <= 4)
                <li class="column">
                    <a href="/item?itemId=$velocityCount" class="item-image-wrapper" target="_blank">
                        <img src="${imageUrlPrefix}/images/sku/$velocityCount/5.jpg" alt="$skuInfo.title"/>
                    </a>
                    <div class="item-description">
                        <div class="item-title">$skuInfo.getTitle()</div>
                        <div class="item-price margin-top-tiny">
                            <p class="item-price-num-wrapper">
                                <span class="item-price-num">
                                    <span class="item-price-num-current">￥$skuInfo.getDisplayPrice()</span>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
                #elseif ($velocityCount <= 8)
                    #set ($vc = 9 - $velocityCount)
                <li class="column">
                    <a href="/item?itemId=$vc" class="item-image-wrapper" target="_blank">
                        <img src="${imageUrlPrefix}/images/sku/$vc/1.jpg" alt="$skuInfo.title"/>
                    </a>
                    <div class="item-description">
                        <div class="item-title">$skuInfo.getTitle()</div>
                        <div class="item-price margin-top-tiny">
                            <p class="item-price-num-wrapper">
                            <span class="item-price-num">
                                <span class="item-price-num-current">￥$skuInfo.getDisplayPrice()</span>
                            </span>
                            </p>
                        </div>
                    </div>
                </li>
                #elseif ($velocityCount <= 12)
                    #set ($vc = $velocityCount - 8)
                    <li class="column">
                        <a href="/item?itemId=$vc" class="item-image-wrapper" target="_blank">
                            <img src="${imageUrlPrefix}/images/sku/$vc/1.jpg" alt="$skuInfo.title"/>
                        </a>
                        <div class="item-description">
                            <div class="item-title">$skuInfo.getTitle()</div>
                            <div class="item-price margin-top-tiny">
                                <p class="item-price-num-wrapper">
                            <span class="item-price-num">
                                <span class="item-price-num-current">￥$skuInfo.getDisplayPrice()</span>
                            </span>
                                </p>
                            </div>
                        </div>
                    </li>
                #end
            #end
        </ul>
    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
#parse("user/footer.vm")