#* @velocityproperties path="/WEB-INF/velocity" *#
#* @vtlvariable name="pageType" type="nanshen.data.PageType" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#

#parse("user/header.vm")
<link rel="stylesheet" href="http://static.lanzhujue.com/css/user/list.css"/>

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">$!{pageType}</div>
</div>

<!-- page contents -->
<div class="page-content">

    <ul data-orbit class="list-banner"
        data-options="animation:slide;
                  pause_on_hover:true;
                  timer_speed:4000;
                  animation_speed:500;
                  navigation_arrows:true;
                  bullets:true;
                  slide_number:false;
                  resume_on_mouseout:true;">
        <li class="active">
            <img src="http://static.lanzhujue.com/image/slider/slider2.jpg" alt="slide 2" />
            <div class="orbit-caption">
                品牌推广专题
            </div>
        </li>
        <li class="pre-hidden">
            <img src="http://static.lanzhujue.com/image/slider/slider1.jpg" alt="slide 1" />
            <div class="orbit-caption">
                活力男装搭配
            </div>
        </li>
        <li class="pre-hidden">
            <img src="http://static.lanzhujue.com/image/slider/slider3.jpg" alt="slide 3" />
            <div class="orbit-caption">
                品牌推广专题2
            </div>
        </li>
    </ul>

    <div class="item-list" >
        <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-2" data-equalizer>
            #foreach ($lookInfo in $lookInfoList)
            <li data-equalizer-watch>
                <a href="/look?lookId=$lookInfo.id" class="item-image-wrapper">
                    <img src="http://image.lanzhujue.com/images/look/$lookInfo.id/0" alt=""/>
                </a>
                <div class="item-description">
                    $lookInfo.title
                    <div>
                        $lookInfo.subTitle
                    </div>
                </div>
            </li>
            #end
        </ul>
    </div>

    #include("msgModal.vm")

</div>
<!-- end of this page contents -->

<!-- start of footer-->
#include("user/footer.vm")