#* @velocityproperties path="/WEB-INF/velocity" *#
#* @vtlvariable name="pageType" type="nanshen.data.PageType" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="lookInfo" type="nanshen.data.LookInfo" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#

#parse("user/header.vm")
<link rel="stylesheet" href="/css/user/list.css"/>

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">$!{pageType}</div>
</div>

<div class="banner">

    <div class="banner-slider">
        <ul>
            <li>
                <img src="$!{imageUrlPrefix}/images/slider/slider3.jpg">
            </li>
            <li>
                <img src="$!{imageUrlPrefix}/images/slider/slider2.jpg">
            </li>
            <li>
                <img src="$!{imageUrlPrefix}/images/slider/slider1.jpg">
            </li>
        </ul>
    </div>

</div>

<!-- page contents -->
<div class="page-content">

    <div class="item-list" >
        <ul class="row large-up-4 medium-up-3 small-up-2" data-equalizer>
            #foreach ($imgId in [1..22])
                <li class="column" data-equalizer-watch>
                    <a href="/item?itemId=1" class="item-image-wrapper">
                        <img src="${imageUrlPrefix}images/item/${imgId}.jpg" alt=""/>
                    </a>
                    <div class="item-description">
                        <div class="item-title">Tescoma Kitchen Stuff</div>
                        <div class="item-price margin-top-tiny">
                            <p class="item-price-num-wrapper">
                                <span class="item-price-num">
                                    <span class="item-price-num-current">￥199</span>
                                </span>
                            </p>
                            <hr class="item-price-hr">
                        </div>
                    </div>
                </li>
            #end
        </ul>
    </div>

##    #include("msgModal.vm")

</div>
<!-- end of this page contents -->

<!-- start of footer-->
#parse("user/footer.vm")