#* @vtlvariable name="tagIdMap" type="java.util.Map<java.lang.Long, java.lang.Boolean>" *#
#* @vtlvariable name="AdminUserInfoList" type="java.util.List" *#
#* @vtlvariable name="adminUserInfo" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="skuItem" type="nanshen.data.Sku.SkuItem" *#
#* @vtlvariable name="lookInfoList" type="java.util.List" *#
#* @vtlvariable name="uploader" type="nanshen.data.AdminUserInfo" *#
#* @vtlvariable name="cart" type="nanshen.data.Cart.Cart" *#
#* @vtlvariable name="tagIdMap<String, Boolean>" type="java.util.Map<java.lang.String, java.lang.Boolean>" *#

#parse("user/header.vm")
<link rel="stylesheet" href="$!{cssUrlPrefix}/css/user/wish.css"/>
<!-- end of header -->

<!-- some hidden infos -->
<div class="page-info">
    <div id="this-tag">orders</div>
    <div id="is-login">$!{isLogin}</div>
</div>

<nav class="breadcrumb-wrapper margin-top-small">
    <ul class="breadcrumbs">
        #if ($!{en})
            <li><a href="/">Home</a></li>
            <li class="disabled"><a href="/list">BOUTIQUE ONLINE</a></li>
            <li>My cart</li>
        #else
            <li><a href="/">首页</a></li>
            <li class="disabled"><a href="/list">线上精品店</a></li>
            <li>我的购物车</li>
        #end
    </ul>
</nav>

<!-- page contents -->
<div class="page-content" id="cart-page-content">

    <div class="row">
        #if ("$!{wish.goodsList}" != "" && $!{wish.goodsList.size()} > 0)
        <div class="small-12 columns margin-top-small" id="cart-content">
            <table cellpadding="0" cellspacing="0" class="scroll">
                <thead class="cart-thead center">
                <tr>
                    #if ($!{en})
                        <th class="center" scope="col" width="20%">Images</th>
                        <th class="center" scope="col" width="20%">Name</th>
                    #else
                        <th class="center" scope="col" width="20%">图片</th>
                        <th class="center" scope="col" width="20%">商品名称</th>
                    #end
                </tr>
                </thead>

                <tbody class="cart-tbody center">
                #foreach ($goods in $!{wish.goodsList})
                    <tr id="cart-goods-$!{goods.id}" class="-cart-goods-$!{goods.id}">
                        <td>
                            <a href="/item?itemId=$!{goods.skuId}" target="_blank" class="demo">
                                <img src="$!{imageUrlPrefix}/images/sku/$!{goods.itemId}/5.jpg?x-oss-process=style/item-detail-thumb" alt="" class="detail-image">
                            </a>
                        </td>
                        <td>
                            <div class="link-1">
                                <a href="/item?itemId=$!{goods.skuId}" target="_blank" class="demo">
                                    <span class="thin">$!{goods.title}</span>
                                </a>
                            </div>
                            #if ("$!{goods.option1}" == "")
                            <div></div>
                            #else
                            <div>[ $!{goods.option1} ]</div>
                            #end
                        </td>
                    </tr>
                #end
                </tbody>
            </table>
        </div>
        #else
        <div class="row center margin-top-large">
            #if ($!{en})
                Your cart is empty.
            #else
                抱歉，您的心愿单为空，再去逛逛吧！
            #end
        </div>
        <div class="margin-top-large">&nbsp;</div>
        #end
    </div>

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script type="text/javascript" src="$!{cssUrlPrefix}/script/user/cart.js"></script>
<!-- JiaThis Button END -->
#parse("user/footer.vm")