header h1 {
    color: lightblue;
    font-weight: 100;
    margin-bottom: 0;
    font-size: 38px;
}
header h4 {
    color: grey;
    font-weight: 200;
    margin-top: 0;
    font-size: 1.25rem;
}
.height-definer {
    height: 45px !important;
}
.username {
    color: #f5f5f5;
    margin-top: 12px;
    margin-right: 5px;
}
.page-content {
    min-height: 300px
}
.row {
    max-width: 90% !important;
}
.row .row {
    margin-left: auto !important;
    margin-right: auto !important;
}
.banner img {
    width: 100%;
    max-height: 150px;
}
header {
    background: url(images/banner.png) #074e68;
    background-size: cover;
    padding: 22px 0;
}
.drop-anchor {
    margin-top: 6px;
}
.top-bar {
    height: 47px !important;
    vertical-align: middle;
    background: #120400;
    z-index: 10;
}
.top-bar-section .has-form,
.top-bar-section li:not(.has-form) a:not(.button) {
    background: black;
}
.top-bar-section .divider {
    margin-top: 3px;
}
.top-bar .right-section {
    margin: 2px 0px;
    float: right;
}
.top-bar-section li:not(.has-form),
.top-bar-section a:not(.button),
.top-bar-section img {
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    transition: transform 0.3s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.3s cubic-bezier(0, 0.63, 0.41, 0.98);
    -webkit-transition: transform 0.3s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.3s cubic-bezier(0, 0.63, 0.41, 0.98);
    -moz-transition: transform 0.3s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.3s cubic-bezier(0, 0.63, 0.41, 0.98);
    -ms-transition: transform 0.3s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.3s cubic-bezier(0, 0.63, 0.41, 0.98);
    -o-transition: transform 0.3s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.3s cubic-bezier(0, 0.63, 0.41, 0.98);
}
.top-bar-section li:not(.has-form):not(.drop-remove),
.top-bar-section a:not(.button):not(.drop-remove),
.top-bar-section a:not(.dropdown-tag) {
    backface-visibility: hidden;
}
.top-bar-section img {
    margin-bottom: 5px;
    background: #333;
    opacity: 0;
}
.top-bar-section li:not(.has-form):not(.drop-remove):hover div {
    opacity: 0;
    backface-visibility: hidden;
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
    transform: translateY(9px);
}
.top-bar-section a:not(.drop-remove):not(.button):hover {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
}
.top-bar-section a:not(.button):not(.drop-remove):hover img {
    -webkit-transform: translateY(9px);
    -moz-transform: translateY(9px);
    -ms-transform: translateY(9px);
    -o-transform: translateY(9px);
    transform: translateY(9px);
}
.top-bar-section a:not(.button):not(.drop-remove):hover,
.top-bar-section a:not(.button):not(.drop-remove):hover img {
    opacity: 1;
    backface-visibility: hidden;
}
.top-bar-section li:not(.has-form):not(.drop-remove):hover div,
.top-bar-section a:not(.button):not(.drop-remove):hover,
.top-bar-section a:not(.button):not(.drop-remove):hover img {
    transition: transform 0.5s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.2s cubic-bezier(0, 0.63, 0.41, 0.98);
    -webkit-transition: transform 0.5s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.2s cubic-bezier(0, 0.63, 0.41, 0.98);
    -moz-transition: transform 0.5s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.2s cubic-bezier(0, 0.63, 0.41, 0.98);
    -ms-transition: transform 0.5s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.2s cubic-bezier(0, 0.63, 0.41, 0.98);
    -o-transition: transform 0.5s cubic-bezier(0, 0.63, 0.41, 0.98), opacity 0.2s cubic-bezier(0, 0.63, 0.41, 0.98);
}
.top-button {
    line-height: normal !important;
}
.top-bar-section a {
    text-align: center;
}
.bottom-line {
    height: 3px;
    background-color: #595959;
    z-index: 100;
}
.all-list {
    margin-top: 2rem !important;
}
.name img {
    height: 45px;
}
.margin-bottom {
    margin-bottom: 1.25rem;
}
.margin-top {
    margin-top: 2rem !important;
}
.margin-top-big {
    margin-top: 4rem !important;
}
.margin-top-small {
    margin-top: 0.5rem !important;
}
.panel-body .tabs dd, .tabs .tab-title {
    float:none;
}
.tabs dd>a:hover,
.tabs .tab-title>a:hover {
    color: black;
}
.tabs dd>a, .tabs .tab-title>a {
    background-color: #222222;
    padding: 0.6rem 2.219rem;
    color: wheat;
    border: 1px solid #ddd;
}
.center {
    text-align: center;
}
.higher-index {
    z-index: 100 !important;
}
.white {
    color: grey;
}
.seperator {
    height: 3px;
    background-color:#595959;
}
.article {
    margin-top: 20px;
}
.main-content {
    margin-top: 2.5rem;
}
.content-title {
    padding-left: 0;
}
.sub-info {
    font-size: 14px;
    color: #90ADC7;
}
.cover {
    display: none;
    position: relative;
    width: 100%;
    height: 250px;
    top:-250px;
    background-color: rgba(0, 0, 0, 0.5);
}
.img-wrapper img {
    width: 100%;
}
.top-footer {
    margin-top: 80px;
    text-align: center;
    background: #0D5880;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-style: normal;
    padding-top: 1.5rem;
}
.top-footer h3 {
    font-weight: normal;
    color: lightgrey;
}
.learn-links {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 40px;
}
.learn-links ul li {
    font-size: 13px;
}
.learn-links p {
    margin-left: 3rem;
    font-size: 13px;
    font-weight: lighter;
}
.bottom-footer {
    background: #072C40;
    height: 120px;
    text-align: left;
    position: relative;
    padding: 0px 20px 0 20px;
    overflow: hidden;
}
.sub-list {
    width: 100% !important;
}
.all-list tbody tr:hover,
.sub-list tbody tr:hover {
    background:cornflowerblue !important;
}
.all-list table tr.even, .all-list table tr.alt, .all-list table tr:nth-of-type(even),
.sub-list table tr.even, .sub-list table tr.alt, .sub-list table tr:nth-of-type(even) {
    background: lightblue;
}
.extra-info-list table tr:nth-of-type(even) {
    background: aliceblue !important;
}
.all-list thead,
.sub-list thead {
    background: #2445A6 !important;
}
.all-list tr th,
.sub-list tr th {
    color: white !important;
}
.remarkInfo {
    white-space: nowrap;
    overflow: hidden;
}
.all-list td, .all-list th,
.sub-list td, .sub-list th,
.detail td, .detail th {
    text-align: center !important;
    word-wrap: break-word;
    word-break: normal;
    overflow: hidden;
    height:2rem;
}
.detail-tbody td {
    height: 150px !important;
}
#detail-image {
    height: 100px;
}
.button {
    margin-bottom: 0 !important;
}
.-order-detail {
    background-color: lightgrey !important;
}
.takenOrder {
    background-color: #43ac6a !important;
}
.table-top-divider {
    border-top: grey 2px solid;
}
.table-bottom-divider {
    border-top: grey 2px solid;
    border-bottom: grey 2px solid;
}
.detail-img {
    height: 100px;
}
.chosen {
    color: darkorange !important;
}
#page-info {
    display: none;
}
.myorders {
    word-break:break-all;
}
.selector {
    text-align: center;
    padding: 0.2rem;
    background: lightblue;
}
.accordion dd>a {
    padding: 0.5rem !important;
}
#panel1 .detail {
    margin-top: 1rem;
    border: none;
}
#panel1 .detail thead {
    background-color: white;
    border-bottom: black 1px solid;
}
#panel1 table {
    border-collapse:collapse;
}
.table-header {
    border-bottom: black 1px solid;
    font-size: 14px;
    text-align: center;
}
.table-content {
    margin-top: 0.6rem;
}
.template {
    display: none;
}
.yellowBackground {
    background-color: yellow;
}

.greenText {
    color: green;
}
.darkGreenText {
    color: darkgreen;
}
.lightGreyText {
    color: #d3d3d3;
}
.redText {
    color: red;
}
.yellowText {
    color: darkorange;
}
.blueText {
    color: blue;
}
.darkBlueText {
    color: darkblue;
}
.greyText {
    color: grey;
}

.exchange {
    color: white;
    font-size: 1rem;
}
.darkGreyText {
    color: #363642;
}
.table-columns {
    overflow: hidden;
}
input[type="checkbox"] {
    margin-bottom: 0 !important;
}
.empty-info-th {
    text-align: center !important;
    table-layout: auto;
}
.checkbox {
    width: 30px;
    height: 30px;
    padding: 0 15px 0 0;
}
.address-icon {
    font-size: 30px !important;
    color: grey;
}
#address div input {
    height: 2rem;
    margin: 0;
}
.breadcrumbs {
    font-size: 1.5rem !important;
}
.ship-item-count-wrapper {
    padding: 0 !important;
}
.ship-item-count-minus,
.ship-item-count-plus {
    margin-top: 0.4rem !important;
    cursor: pointer;
}
.id-card-image {
    width: 100%;
    margin: 5px;
    max-width: 300px;
    height: auto;
}
.menu-icon {
    height: 16px;
}
.detail-image {
    max-height: 200px;
}
.detail-small-image {
    max-height: 150px;
}
.user-info{
    background-color: steelblue !important;
}

.card-no {
    font-size: 24px !important;
}

form .no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.uploadify-button {
    text-align: center;
    background-color: lightblue;
}
.img-cart {
    max-height: 240px;
}
.large-text {
    font-size: 1.5rem;
}
.prefix {
    z-index: 0 !important;
}
.dropdown-wrapper {
    margin-top: 12px;
    text-align: right;
    padding: 5px;
    width: 150px;
    border-bottom: 3px solid #595959;
    border-left: 3px solid #595959;
    color: #fff;
    background: #333;
    font-size: 0.9rem;
}
.drop-options:hover {
    color: orange !important;
}
.drop-exit {
    background-color: #008cba !important;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.ui-datepicker {
    z-index: 100 !important;
}
.img-wrapper {
    padding: 5px;
}
.img-wrapper .img-container {
    display: block;
    height: 200px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.img-wrapper .img-container img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    margin: auto;
}
.cs-event-table {
    word-break: break-all;
}
.width100 {
    width: 100px;
}
.width50 {
    width: 50px;
}