/*
 *  tool.css
 *  @author: WANG Minghao
*/

/* 位置调整 */
.margin-top {
    margin-top: 3rem !important;
}
.margin-bottom {
    margin-bottom: 3rem;
}
.margin-top-large {
    margin-top: 5rem;
}
.margin-top-small {
    margin-top: 1.5rem;
}
.margin-top-tiny {
    margin-top: 0.5rem;
}
.margin-bottom-small {
    margin-bottom: 1.5rem;
}
.margin-left {
    margin-left: 1.5rem;
}
.center {
    text-align: center !important;
}
.left-align {
    text-align: left !important;
}
.higher-index {
    z-index: 100 !important;
}
.height-definer {
    height: 45px !important;
}
.hidden {
    display: none;
}

/* 颜色配置 */
.greenText {
    color: green;
}
.darkGreyText {
    color: #555;
}
.greyText {
    color: grey;
}
.blueText {
    color: cornflowerblue;
}
.lightgreyText {
    color: lightgrey;
}
.redText {
    color: red;
}
.brandColorText {
    color: #A7866A !important;
}
