#body {
    background-color: #e2e2e2;
}
.page-content {
    min-height: 300px;
}
.page-info {
    display: none;
}
.row {
    max-width: 95% !important;
}
.row .row {
    margin-left: auto !important;
    margin-right: auto !important;
}
.all-list tr th,
.all-list tr td {
    text-align: center !important;
}
input.labelauty + label {
    display: inline !important;
}