/*
 *  admin/header.css
 *  @author: WANG Minghao
*/

header {
    background: url("/images/banner.png") #074e68;
    background-size: cover;
    padding: 22px 0;
}
.page-content {
    width: 90%;
    margin: auto;
}
.page-content .breadcrumbs {
    margin: 0 1rem;
}
#body .title-bar-title,
#body .menu-text {
    font-size: large;
}
.banner {
    background: url("http://image-cdn.zaitaoyuan.com/images/slider/slider8.jpg@!list-banner-s") #af8e72;
    background-size: cover;
    width: 100%;
    height: 350px;
}
body .menu>li>a {
    padding: 0;
}
body .menu>li>a button {
    background: #af8e72;
}
