.tag-label{
    font-size: 1.3rem;
    color: darkgrey;
    margin-bottom: 7px;
    margin-top: 2rem;
}
.image-wrapper img {
}
.upload-file-box {
    background-color: lightgrey;
}
.uploadify-button-text {
    cursor: pointer;
}
.uploadify-button {
    text-align: center;
}