#parse("header.vm")
<!-- end of header -->

<!-- some hidden infos -->
<div id="page-info">
    <div id="this-tag">orders</div>
</div>

<!-- breadcrumbs -->
<ul class="breadcrumbs">
    <li ><a href="/"><i class="fi-home"></i> 订单管理</a></li>
    <li class="current"><a href="/"><i class="fi-list-thumbnails"></i> 订单认领</a></li>
</ul>

<!-- page contents -->
<div class="page-content">

</div>
<!-- end of this page contents -->

<!-- start of footer-->
<script src="/script/home.js"></script>
#include("footer.vm")