<div id="successModal" class="small reveal" data-reveal>
    <h2 class="greenText" id="successHdr"></h2>
    <p id="successMsg"></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div id="failModal" class="small reveal" data-reveal>
    <h2 class="redText" id="failHdr"></h2>
    <p id="failMsg"></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>