<div id="successModal" class="small reveal-modal" data-reveal>
    <h2 class="greenText" id="successHdr"></h2>
    <p id="successMsg"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>

<div id="failModal" class="small reveal-modal" data-reveal>
    <h2 class="redText" id="failHdr"></h2>
    <p id="failMsg"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>